<section class="case-study__section--comeback-end case-study__bg theme--red-sox">

  <div class="case-study__grid--comeback-end">
    {% if item.headline || item.content %}
      <div class="case-study__content--comeback slide-up">
        {% if item.headline %}
          <h2 class="case-study__headline">{{item.headline}}</h2>
        {% endif %}

        {% if item.content %}
          <div class="case-study__text">{{item.content}}</div>
        {% endif %}

        <div class="comeback-end__image--accent">
          <img class="case-study__img" src="/static/img/case-study/{{item.accent-image}}" alt="">
          <p class="hero__accent--diamond-text">{{item.accent-text}}</p>
        </div>
      </div>
    {% endif %}

    <div class="case-study__img-container">
      <img
        class="case-study__img"
        src="/static/img/case-study/{{item.image}}" alt="">
    </div>
  </div>

  <!-- <div class="comeback-end__image--accent">
    <img class="case-study__img" src="/static/img/case-study/{{item.accent-image}}" alt="">
    <p class="hero__accent--diamond-text">{{item.accent-text}}</p>
  </div> -->

</section>
