<section class="case-study__section--broadsheet">
  <div class="case-study__container--img--broadsheet case-study__module--704 element--will-appear">
    <img class="case-study__img work__device--small" src="/static/img/case-study/{{item.image}}" alt="">
  </div>

  {% if item.headline || item.content %}
    <div class="case-study__content js--in-view element--will-slide-up">
      {% if item.headline %}
        <h2 class="case-study__headline">{{item.headline}}</h2>
      {% endif %}

      {% if item.content %}
        <div class="case-study__text">{{item.content}}</div>
      {% endif %}
    </div>
  {% endif %}

<!--   {% if item.headline || item.content %}
    {% include case-study/item-content.html headline=item.headline content=item.content %}
  {% endif %} -->
</section>