<section class="case-study__section {% if item.verticalPadding %} case-study__section--has-vertical-padding{% endif %}">

  {% if item.headline || item.content %}
    <div class="case-study__content">
      {% if item.headline %}
        <h2 class="case-study__headline">{{item.headline}}</h2>
      {% endif %}

      {% if item.content %}
        <div class="case-study__text">{{item.content}}</div>
      {% endif %}
    </div>
  {% endif %}

  <div class="case-study__module--details case-study__module--1256">
    <ul class="case-study__items">
      {% for detail in item.details %}
      <li class="case-study__item js--in-view element--will-slide-up">
        <img class="case-study__image--item" src="/static/img/case-study/{{detail.image}}">
        <div class="case-study__content--item">
          <h4 class="case-study__headline--item">{{ detail.title }}</h4>
          <div class="case-study__text--item">
            {% for graph in detail.text %}
              <p>{{ graph }}</p>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>