<!--
verticalPadding
image-width
device
device size
headline
content
image slide up
headline slide up
content slide up
-->

<section class="case-study__section {% if item.verticalPadding %} case-study__section--has-vertical-padding{% endif %}">
  <div class="{% if item.image-width == 'full' %}case-study__module--1028 {% else %}case-study__module--704{% endif %}">
    <div class="case-study__container--img--section js--in-view element--will-slide-up">
      <img class="case-study__image--item--highlight work__device" src="/static/img/case-study/{{item.image}}">
    </div>

    {% if item.headline || item.content %}
      <div class="case-study__content">
        {% if item.headline %}
          <h2 class="case-study__headline js--in-view element--will-slide-up">{{item.headline}}</h2>
        {% endif %}

        {% if item.content %}
          <div class="case-study__text js--in-view element--will-slide-up">{{item.content}}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>