<section class="page__module--case-study">
  <h2 class="case-study__headline--section">{{ item.headline }}</h2>
  <div class="case-study__module--details page__module--1256">
    <ul class="case-study__details">
      {% for detail in item.details %}
      <li class="case-study__detail-item">
        <img class="case-study__detail-image" src="/static/img/case-study/{{detail.image}}">
        <div class="case-study__detail-content">
          <h4 class="case-study__detail-item-title">{{ detail.title }}</h4>
          <div class="case-study__detail-item-text">
            {% for graph in detail.text %}
              <p>{{ graph }}</p>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>