---
layout: archive
title: Grant Staubin | Writing
pageclass: page--archive theme--sky-blue
permalink: /archive/
---






<div class="archive__pinned">
  <div class="archive__pinned-main">
    {% for post in site.posts %}
      {% if post.status == 'pinned' %}
        {% if post.pinnedPosition == 'main' %}
            <article class="archive__article--pinned-main">
              <h5 class="overline archive__meta--pinned">
                {{ post.date | date: "%b %d, %Y" }}
              </h5>
              <h3 class="archive__headline--pinned-main">
                <a class="archive__link--headline" href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h3>
            </article>

        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="archive__pinned-secondary">
    {% for post in site.posts %}
      {% if post.status == 'pinned' %}
        {% if post.pinnedPosition != 'main' %}
          <article class="archive__article--pinned-secondary">
            <h5 class="overline archive__meta--pinned">{{ post.date | date: "%Y • %b %d" }}</h5>
            <h3 class="archive__headline--pinned-secondary">
              <a class="archive__link--headline" href="{{ post.url }}">{{ post.title }}</a>
            </h3>
          </article>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>




<ul class="archive__items">
    {% for post in site.posts %}
      {% if post.status != 'pinned' %}
        <li class="archive__item">
          <a class="archive__link--item" href="{{ post.url }}">
            <article class="archive__article">
              <div>
                <h5 class="archive__meta">
                  <span class="overline">{{ post.date | date: "%b" }}</span>
                  <span class="headline headline--medium">{{ post.date | date: "%d" }}</span>
                  <span class="overline">{{ post.date | date: "%Y" }}</span>
                </h5>
              </div>
              <h3 class="headline headline--small archive__headline--item">
                {{ post.title }}
                <!-- <a class="archive__link--headline" href="{{ post.url }}">{{ post.title }}</a> -->
              </h3>
            </article>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul> <!-- /archive__items -->


<!-- {% if pagination.previous_page %}
  <a href="/archive{{paginator.previous_page}}">Previous</a>
  {% else %}
    <span>Previous</span>
  {% endif %}
  <span>Page: {{pagniator.page}} of {{paginator.total_pages}}</span>
  {% if pagination.next_page %}
    <a href="/archive{{paginator.next_page}}">Next</a>
  {% else %}
  <span>Next</span>
{% endif %}

 -->




<!--             <div class="gcs-archive__text">{{ post.content | truncatewords: 50 | strip_html }}
              <a class="gcs-archive__link--text" href="{{ post.url}}">Continue reading
                <span>&raquo;</span>
              </a>
            </div> -->
