---
layout: archive
title: Grant Staubin | Code Samples
pageclass: page-code-samples
permalink: /code-samples/
---


<div class="archive__pinned">
  <div class="archive__pinned-main">
    {% for item in site.data.code-samples.projects limit: 1 %}
      <article class="archive__article--pinned-main">
        <h5 class="overline archive__meta--pinned">
          {{ item.label }}
        </h5>
        <h3 class="archive__headline--pinned-main">
          <a class="archive__link--headline" href="{{ item.url }}" target="_blank">
            {{ item.head }}
          </a>
        </h3>
      </article>
    {% endfor %}
  </div>

  <div class="archive__pinned-secondary">
    {% for item in site.data.code-samples.projects offset: 1 %}
      <article class="archive__article--pinned-secondary">
        <h5 class="overline archive__meta--pinned">
          {{ item.label }}
        </h5>
        <h3 class="archive__headline--pinned-secondary">
          <a class="archive__link--headline" href="{{ item.url }}" target="_blank">{{ item.head }}</a>
        </h3>
      </article>
    {% endfor %}
  </div>
</div>