---
layout: default
---

<div class="bg-container">


  <div class="logo__container--hp">
    <a class="logo__link--hp" href="/">
      {% include gLogo.svg className="svg--logo--hp" %}
    </a>
  </div> <!-- /logo__container -->


  <div class="content-inner">
    <div class="page-mod page-mod--hp-intro">
      {% for item in site.data.hp-intro %}
        <h4 class="page-intro">{{item.intro}}<h4>

        {% for paragraph in item.words %}
          <p class="page-text">{{paragraph}}<p>
        {% endfor %}
      {% endfor %}
    </div> <!-- /page-mod -->








<!--
    <svg class="decoration decoration-x-1">
        <use xlink:href="#elements_large_x" />
    </svg>

    <svg class="decoration decoration-x-2">
        <use xlink:href="#elements_large_x" />
    </svg>

    <svg class="decoration decoration-x-3">
        <use xlink:href="#elements_small_x" />
    </svg>

    <svg class="decoration decoration-x-4">
        <use xlink:href="#elements_large_x" />
    </svg>

    <svg class="decoration decoration-line-1">
        <use xlink:href="#elements_long_line" />
    </svg>

    <svg class="decoration decoration-line-2">
        <use xlink:href="#elements_long_line" />
    </svg>

    <svg class="decoration decoration-line-3">
        <use xlink:href="#elements_long_line" />
    </svg>

    <svg class="decoration decoration-line-4">
        <use xlink:href="#elements_long_line" />
    </svg> -->

</div> <!-- /content-inner -->
</div> <!-- bg-container -->
