---
layout: default
pageClass: gcs-homepage
---

<div class="gcs-bg__container">


  <!-- Header -->
  <!-- ===================================== -->
  {% include new-page-header.html headerClass="gcs-header--hp" %}


  <div class="content-inner fade-in">
    <section class="gcs-page__mod gcs-page__mod--hp-intro">

      <!-- Homepage intro -->
      {% for item in site.data.hp-intro %}
        {% if item.headline %}
          <h3 class="gcs-headline--homepage">{{ item.headline }}</h3>
        {% endif %}

        {% if item.intro %}
          <h4 class="gcs-intro--homepage">{{item.intro}}</h4>
        {% endif %}

        {% for paragraph in item.words %}
          <p class="gcs-text--homepage page-text">{{paragraph}}<p>
        {% endfor %}
      {% endfor %}

      <!-- end homepage intro -->

    </section> <!-- /page-mod -->
  </div> <!-- /content-inner -->


</div> <!-- bg-container -->
