---
layout: archive
title: Grant Staubin | Work
pageclass: page--work page--has-no-bottom-margin
permalink: /work/
---


<!-- First Big -->
<!-- ========================== -->
{% for item in site.data.work.projects limit:1 %}
<article class="work__item work__item--will-bleed hero--bleed--top {% if item.theme %}theme--{{item.theme}}{% endif %}">
  <div class="work__inner--item work__grid--item--2 element--will-appear">
    <div class="work__media">
      <div class="work__container--img work__device">
        <img src="/static/img/work_landing/{{item.img}}">
        <!-- <img class="work__img" src="/static/img/work_landing/grant_2018.jpg"> -->
      </div>
    </div>

    <div class="work__content">
      <h3 class="work__headline">
        {{item.head}}
      </h3>
      <div class="work__text">
        {{item.text}}
        {% if item.internal == true %}
          <a class="archive__link--text work__link--text work__link--text--alt" href="{{site.baseurl}}/work/{{ item.url}}">Read Case Study</a>
          {% else %}
           <a class="archive__link--text work__link--text" target="_blank" href="http://{{item.url}}">Visit Live Site</a>
        {% endif %}
      </div>
    </div>

  </div>
</article>
{% endfor %}



<!-- First Smalls -->
<!-- ========================== -->
<section class="work__grid--wrapper">
  <div class="work__grid--2">
  {% for item in site.data.work.projects offset:1 limit: 2 %}
    <article class="work__item--small {% if item.theme %}theme--{{item.theme}}{% endif %}">
        <div class="work__media work__media--small">
          <div class="work__container--img--small work__device--small">
            <img class="work__img" src="/static/img/work_landing/{{item.img}}">
            <!-- <img class="work__img" src="/static/img/work_landing/grant_2018.jpg"> -->
          </div>
        </div>

        <div class="work__content">
          <h3 class="work__headline work__headline--small">
            {{item.head}}
          </h3>
          <div class="work__text">
            {{item.text}}
            {% if item.internal == true %}
              <a class="archive__link--text work__link--text work__link--text--alt" href="{{site.baseurl}}/work/{{ item.url}}">Read Case Study</a>
              {% else %}
               <a class="archive__link--text work__link--text" target="_blank" href="http://{{item.url}}">Visit Live Site</a>
            {% endif %}
          </div>
        </div>
    </article>
  {% endfor %}
  </div>
</section>



<!-- Second Big -->
<!-- ========================== -->
{% for item in site.data.work.projects limit:1 offset: 3 %}
<article class="work__item {% if item.theme %}theme--{{item.theme}}{% endif %}">
  <div class="work__inner--item work__grid--item--2">
    <div class="work__media">
      <div class="work__container--img work__device">
        <img class="work__img" src="/static/img/work_landing/{{item.img}}">
        <!-- <img class="work__img" src="/static/img/work_landing/grant_2018.jpg"> -->
      </div>
    </div>

    <div class="work__content slide-up">
      <h3 class="work__headline">
        {{item.head}}
      </h3>
      <div class="work__text">
        {{item.text}}
        {% if item.internal == true %}
          <a class="archive__link--text work__link--text work__link--text--alt" href="{{site.baseurl}}/work/{{ item.url}}">Read Case Study</a>
          {% else %}
           <a class="archive__link--text work__link--text" target="_blank" href="http://{{item.url}}">Visit Live Site</a>
        {% endif %}

      </div>
    </div>

  </div>
</article>
{% endfor %}



<!-- Second Smalls -->
<!-- ========================== -->
<section class="work__grid--wrapper">
  <div class="work__grid--2">
  {% for item in site.data.work.projects offset:4 %}
    <article class="work__item--small {% if item.theme %}theme--{{item.theme}}{% endif %}">
        <div class="work__media work__media--small">
          <div class="work__container--img--small work__device--small">
            <img class="work__img" src="/static/img/work_landing/{{item.img}}">
            <!-- <img class="work__img" src="/static/img/work_landing/grant_2018.jpg"> -->
          </div>
        </div>

        <div class="work__content slide-up">
          <h3 class="work__headline work__headline--small slide-up">
            {{item.head}}
          </h3>
          <div class="work__text">
            {{item.text}}
            {% if item.internal == true %}
              <a class="archive__link--text work__link--text work__link--text--alt" href="{{site.baseurl}}/work/{{ item.url}}">Read Case Study</a>
              {% else %}
               <a class="archive__link--text work__link--text" target="_blank" href="http://{{item.url}}">Visit Live Site</a>
            {% endif %}

          </div>
        </div>
    </article>
  {% endfor %}
  </div>
</section>
