---
layout: archive
title: Grant Staubin | Work
pageclass: page--work theme--silver-fox
permalink: /work/
---



<!-- Smaller Teases -->
<!-- ========================== -->
<div class="archive__pinned">
  <div class="archive__pinned-main">
    {% for item in site.data.work.projects limit:1 %}
      <article class="archive__article--pinned-main">
        <div class="archive__image--work">
          <img src="/static/img/{{item.img}}">
        </div>
        <div class="archive__content--work">
          <h3 class="archive__headline--work">
            {{item.head}}
          </h3>
          <p class="archive__text--work">
          {{item.text}}
          <a class="archive__link--text" target="_blank" href="http://{{item.url}}">See project</a>
        </p>
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="archive__pinned-secondary">
    {% for item in site.data.work.projects offset:1 limit:1 %}
      <article class="archive__article--pinned-secondary">
        <div class="archive__image--work">
          <img src="/static/img/{{item.img}}">
        </div>
        <div class="archive__content--work">
          <h3 class="archive__headline--work">
            {{item.head}}
          </h3>
          <p class="archive__text--work">
          {{item.text}}
          <a class="archive__link--text" target="_blank" href="http://{{item.url}}">See project</a>
        </p>
        </div>
      </article>
    {% endfor %}
  </div>
</div>



<!-- Smaller Teases -->
<!-- ========================== -->
<ul class="archive__items archive__items--grid">
  {% for item in site.data.work.projects offset:2 %}
    <li class="archive__item archive__item--grid">
      {% include /components/work-item.html
          img=item.img
          head=item.head
          text=item.text
          url=item.url
      %}
    </li>
  {% endfor %}
</ul>








<!-- <article class="archive__article--work">
  <div class="archive__meta archive__meta--work">
    <a target="_blank" href="http://{{item.url}}">
      <div class="archive__img--work--small">
        <img src="/static/img/{{item.img}}">
      </div>
    </a>
  </div>

  <div class="archive__content--work--small">
    <h3 class="archive__headline--item archive__headline--work--small">
      {{item.head}}
    </h3>
    <p class="archive__text--work">
      {{item.text}}
      <a class="archive__link--text" target="_blank" href="http://{{item.url}}">See project</a>
    </p>
  </div>
</article> -->