 <!-- Footer -->
  <!-- ===================================== -->
  <footer>
      <div class="page-mod">
          <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nobis, praesentium ullam tempore, asperiores voluptates placeat dolorem, assumenda earum quisquam, pariatur quas adipisci nihil sed.</p>
      </div>
  </footer>

  <!-- Javascript -->
  <!-- ===================================== -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>
  <!-- <script src="js/plugins.js"></script> -->
  <!-- <script src="js/main.js"></script> -->
