 <!-- Footer -->
  <!-- ===================================== -->
  <footer>
      <div class="footer-mod">
          <h3 class="footer-h">Whether you want to discuss design and development, or you want to work together on a project, get in touch. Let's chat!</h3>
      </div> <!-- /footer-mod -->

      <div class="footer-mod">
        <ul class="footer-items">
           <li class="footer-item">
              <a target="_blank" class="footer-item-link" href="mailto:grant.staublin@gmail.com">
                <i class="icon">
                  <svg class="footer-icon">
                      <use xlink:href="#icon_mail" />
                  </svg>
                </i>
              </a>
            </li>

            <li class="footer-item">
              <a target="_blank" class="footer-item-link" href="https://twitter.com/gcstaublin">
                <i class="icon">
                  <svg class="footer-icon">
                      <use xlink:href="#icon_twitter" />
                  </svg>
                </i>
              </a>
            </li>

            <li class="footer-item">
              <a target="_blank" class="footer-item-link" href="https://instagram.com/gcstaublin/">
                <i class="icon">
                  <svg class="footer-icon">
                      <use xlink:href="#icon_instagram" />
                  </svg>
                </i>
              </a>
            </li>

            <li class="footer-item">
              <a target="_blank" class="footer-item-link" href="https://github.com/gcstaublin">
                <i class="icon">
                  <svg class="footer-icon">
                      <use xlink:href="#icon_github" />
                  </svg>
                </i>
              </a>
            </li>

        </ul> <!-- /footer-items -->

      </div> <!-- /footer-mod -->

      <div class="footer-mod">
        <p class="footer-copyright-msg">Copyright © 2009-2015. All rights reserved.</p>
      </div> <!-- /footer-mod -->

  </footer>

  <!-- Javascript -->
  <!-- ===================================== -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>
  <!-- <script src="js/plugins.js"></script> -->
  <!-- <script src="js/main.js"></script> -->

  <!-- Analytics -->
  <!-- ===================================== -->
  {% include analytics.html %}
