<div class="teases-mod">
    <div class="teases-mod--inner">
      <h5 class="section--h">Recent Stories</h5>
      <ul class="tease-items">
        {% for post in site.posts limit: 5 %}
          <li class="tease-item">
            <article>
               <p class="tease-date">{{ post.date | date: "%m.%d.%y" }}</p>
              <h4 class="tease-h">
                <a class="tease-link" href="{{site.url}}{{ post.url }}">{{ post.tease }}</a>
              </h4>
            </article>
          </li> <!-- /tease-item -->
        {% endfor %}
      </ul> <!-- /tease-items -->
      <h5 class="archive-tease__h">
        <a class="archive-tease__link" href="/archive/">All Stories</a>
      </h5>
    </div> <!-- /teases-mod--inner -->

  </div> <!-- /teases-mod -->
