<div class="grid-item">
  <div class="grid-item__img">
      <a target="_blank" href="http://storey.com">
          <img src="/static/img/storey_trans.png">
      </a>
  </div> <!-- /grid-item__img -->

  <div class="grid-item__content">
    <h5 class="grid-item__h">
        <a class="grid-item__link" target="_blank" href="http://{{include.url}}">{{include.head}}</a>
    </h5>
    <p class="grid-item__text">{{include.text}}n</p>
    <a class="grid-item__link--highlight" target="_blank" href="http://{{include.url}}">See project</a>
  </div> <!-- /grid-item__content -->
</div> <!-- /grid-item -->