/*
// --------------------------------------------
// --------------------------------------------
//
// 1. Font Face
//
// --------------------------------------------
// --------------------------------------------
*/

@font-face {
  font-family: 'BlancoWeb';
  src: url('/fonts/Blanco-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'BlancoWeb';
  font-style: italic;
  src: url('/fonts/Blanco-Italic.woff2') format('woff2');
}




/*
// --------------------------------------------
// --------------------------------------------
//
// 2. Root Variables
//
// --------------------------------------------
// --------------------------------------------
*/

:root {
  --font-family-default: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Alpha variables */
  --color-alpha-contrast: 1;
  --color-alpha-default: 0.85;
  --color-alpha-subtle: 0.65;
  --color-alpha-dim: 0.575;
  --color-alpha-extra-dim: 0.15;

  /* --color-surface: #e4e4df; */
  /* --color-surface: #F7F5F3; */
  /* --color-fg-formula: 75, 60, 85; */
  /* -color-fg-formula: 30, 27, 30; */
  /* --color-accent: #EA4904; */
  /* --color-accent-extra-dim: rgba(var(--color-accent), 0.3); */

  /* Default theme */
  /* Palette starter: 7d7a7d */
  --color-surface: #fdfdfd;
  --color-surface-alpha: #fdfdfdc4;
  --color--card: #EFEFEF;
  --color-fg-formula: 19, 16, 19;
  --color-fg-inverse: 255, 255, 255;
  --color-accent: #7d7a7d;
  /* --color-interactive: #0000EE; */
  --color-interactive: #1265dc;
  --color-accent-dim: rgba(var(--color-accent), 0.8);
  --color-theme-name: 'newsprint';
  --color-accent-test: color-mix(in srgb, var(--color-accent) 50%, transparent);


  /* Font sizes */
  --font-size-default: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-sm: 0.875rem;
  --font-size-med: var(--font-size-default);
  --font-size-xsm: 0.775rem;

  /* Widths */
  --width-content-max: 628px;
  --width-content-pad: 2.5rem;
  --width-content-full: 100%;
  --width-extra-small: 400px;
  --width-small: 600px;
  --width-medium: 946px;
  --width-large: 1194px;
  --width-extra-large: 1680px;
  --width-content-calc: var(--width-content-full) - var(--width-content-pad);

  --context-max: min(var(--width-content-max), var(--width-content-calc));



  --site-header-max-width: 1200px;
  --site-header-height: 51px;
  --site-header-color-background: rgba(255, 255, 255, 0.2);
  /* --site-nav-color-link: #ffffff; */
  --site-nav-color-link: var(--color-text-contrast);
  --site-nav-type-size-link-small: 0.75rem;
  --site-nav-type-size-link-large: 0.85rem;

  --logo-width: 51px;
  --logo-color-background: #5bb1a1;
  --logo-svg-width: $size-one-three-fourths;
  --logo-svg-height: $size-one-three-fourths;
  --logo-color: #fff;
}




/*
// --------------------------------------------
// --------------------------------------------
//
// 3. Color Theme Variables
//
// --------------------------------------------
// --------------------------------------------
*/

.theme1 {
  --color-surface: #14284b;
  --color-surface-alpha: #14284bcf;
  --color-fg-formula: 215, 215, 250;
  --color-accent: #BCF5F5;
  --color-interactive: #78decc;
  --color-theme-name: 'kind of blue';
  --color-accent-test: color-mix(in srgb, var(--color-accent) 40%, transparent);
}

.theme2 {
  --color-surface: #242120;
  --color-surface-alpha: #242120e3;
  --color-fg-formula: 220, 220, 175;
  --color-accent: #4B9898;
  --color-interactive: #78decc;
  --color-theme-name: 'dark side';
  --color-accent-test: color-mix(in srgb, var(--color-accent) 40%, transparent);
}

.theme3 {
  /* --color-surface: #ffd24c; */
  --color-surface: #ede45a;
  --color-surface-alpha: #ede45ae0;
  --color-fg-formula: 64, 64, 4;
  --color-accent: #3465E1;
  --color-interactive: #3465E1;
  --color-theme-name: 'dirty sun';
  --color-accent-test: color-mix(in srgb, var(--color-accent) 40%, transparent);
}




.theme1 {
  /* --logo-color-background: #5BB1A1; */
  --logo-color-background: var(--color-fg);
  --logo-color: var(--color-bg);
  --color-text-formula: 248, 246, 245;
}

.theme2 {
  /* --logo-color-background: #2f90da; */
  --logo-color-background: var(--color-fg);
  --logo-color: var(--color-bg);
  --color-text-formula: 39, 35, 35;
}

.theme3 {
  /* --logo-color-background: #667786; */
  --logo-color-background: var(--color-fg);
  --logo-color: var(--color-bg);
  --color-text-formula: 39, 35, 35;
}




/*
// --------------------------------------------
// --------------------------------------------
//
// 4. Global Reset
//
// --------------------------------------------
// --------------------------------------------
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}




/*
// --------------------------------------------
// --------------------------------------------
//
// Style
//
// --------------------------------------------
// --------------------------------------------
*/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 3vw 0 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  line-height: 1.45;
  font-weight: 400;
  background-color: var(--color-surface);
  color: rgba(var(--color-fg-formula), 0.85);
}


/* Text color classes */
.color-text--contrast {
  color: rgba(var(--color-fg-formula), var(--color-alpha-contrast));
}

.color-text--default {
  color: rgba(var(--color-fg-formula), var(--color-alpha-default));
}

.color-text--subtle {
  color: rgba(var(--color-fg-formula), var(--color-alpha-subtle));
}

.color-text--dim {
  color: rgba(var(--color-fg-formula), var(--color-alpha-dim));
}

.color-text--inverse {
  color: rgba(var(--color-text-inverse), var(--color-alpha-contrast));
}

.color-text--accent {
  color: var(--color-accent);
}

/* Font Size  classes */

.font-size--lg,
.font-size--large {
  font-size: var(--font-size-lg);
}

.font-size--sm,
.font-size--small {
  font-size: var(--font-size-sm);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}




.serif {
  font-family: BlancoWeb;
  font-size: var(--font-size-lg);
  line-height: 1.52;
  font-feature-settings: 'onum' 1;
  margin: 1em 0;
  /* text-wrap: balance; */
}

.serif--small {
  font-family: BlancoWeb;
  font-size: 17px;
  line-height: 1.52;
  font-feature-settings: 'onum' 1;
  margin: 1em 0;
  /* text-wrap: balance; */
}




main {
  /* max-width: var(--width-content-max); */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: min(var(--width-content-max), 100% - 4rem); */
  /* width: var(--context-max); */
  /* margin-inline: auto; */
}


a {
  color: currentColor;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-color: currentColor;

  &:hover {
    text-decoration-color: var(--color-accent);
  }
}




/*
// --------------------------------------------
// --------------------------------------------
//
// Grids + Layout
//
// --------------------------------------------
// --------------------------------------------
*/

.cols--12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* column-gap: 2.5rem; */
}

.cols--12--secondary {
  grid-column: 1 / 13;

  @media (min-width: 800px) {
    grid-column: 1 / 4;
  }
}

.cols--12--primary {
  grid-column: 1 / 13;

  @media (min-width: 800px) {
    grid-column: 5 / 13;
  }
}

.hp-width {
  width: var(--context-max);
  margin-inline: auto;
}


.width--extra-small {
  --width-content-max: 400px;
  --context-max: min(var(--width-content-max), var(--width-content-calc));

  width: var(--context-max);
  margin-inline: auto;
}


.width--small {
  --width-content-max: 600px;
  --context-max: min(var(--width-content-max), var(--width-content-calc));

  width: var(--context-max);
  margin-inline: auto;
}


.width--medium {
  --width-content-max: 946px;
  --context-max: min(var(--width-content-max), var(--width-content-calc));

  width: var(--context-max);
  margin-inline: auto;
}

.work-width,
.width--large {
  --width-content-max: 1194px;
  --context-max: min(var(--width-content-max), var(--width-content-calc));

  width: var(--context-max);
  margin-inline: auto;
}


.width--xlarge,
.width--extra-large {
  --width-content-max: 1680px;
  --context-max: min(var(--width-content-max), var(--width-content-calc));

  width: var(--context-max);
  margin-inline: auto;
}

.width--full {
  --width-content-max: 100%;
  --context-max: min(var(--width-content-max), var(--width-content-calc));

  width: var(--context-max);
  margin-inline: auto;
}

.width--full--no-pad {
  --context-max: 100%;

  width: var(--context-max);
  margin-inline: auto;
}


/* .width--no-pad { border: 4px solid blue; } */



:root {
  --experience-item-margin: 36px;
}

.contact__block {
  --experience-item-margin: 12px;
}



/*
// --------------------------------------------
// --------------------------------------------
//
// Portfolio Pages
//
// --------------------------------------------
// --------------------------------------------
*/

.portfolioPage__container {
  >*+* {
    margin-top: 64px;
    /* margin-top: 128px; */
  }
}


