---
import "../styles/global.css";
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<footer class="width--large color-text--dim">
  <div class="footer__container color-text--dim">
    <span class="font-size--small">Copyright ©2009 – 2025</span>
  </div>
</footer>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  footer {
    margin-top: 3rem;
    border-top: 1px solid var(--color-accent-test);
    padding: 0;
    padding-block-end: 1.5vw;
    /* margin-inline: auto; */
  }
  .footer__container {
    /* max-width: var(--width-content-max); */
    /* padding: 1rem 0; */
    /* color: var(--color-subtle); */
    margin: 0 auto;
    padding: 0;
    padding-block-start: 48px;
    /* border-top: 1px solid var(--color-accent); */
  }
</style>
