---
import "../styles/global.css";
---

<footer class="hp-width">
  <div class="footer__container color-text--dim">
    <span class="font-size--small">Copyright ©2024</span>
  </div>
</footer>

<style>
  footer {
    margin-top: 3rem;
  }
  .footer__container {
    max-width: var(--width-content-max);
    padding: 1rem 0;
    /* color: var(--color-subtle); */
    margin: 0 auto;
    /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
  }
</style>
