---
import "../styles/global.css";
import ThemeToggle from "./ThemeToggle.astro";
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<header class="header">
  <div class="header__inner">
    <ThemeToggle />
    <!-- <h1 class="logo__container">
      <Logo />
    </h1> -->
    <nav class="nav">
      <a class="nav__link" href="/">Home</a>
      <a class="nav__link" href="/work/">Work</a>
      <!-- <a class="nav__link" href="/archive">Writing</a>
      <a class="nav__link" href="/about">About</a> -->
    </nav>
  </div>
  <div class="banner__container">
    <h1 class="font-size--lg color-text--contrast">Grant Staublin</h1>
    <p class="color-text--dim">
      Design Systems / Product Design / Art Direction
    </p>
    <p class="color-text--dim">Boston, MA</p>
  </div>
</header>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  .header {
    /* position: relative; */
    /* z-index: 1; */
    /* width: 100%; */
    /* max-width: var(--width-content-max); */

    /* width: var(--content-max); */
    /* margin-inline: auto; */
    margin-block-end: 120px;
    width: 100%;
    max-width: 1194px;
    margin-inline: auto;
    border-bottom: 1px solid var(--color-accent-test);
  }

  .header__inner {
    display: flex;
    align-items: center;
    margin-block-end: 60px;
  }

  .nav {
    display: flex;
    margin-left: auto;
  }

  .nav__link {
    display: inline-block;
    /* padding: 1rem 0.75rem; */
    padding-inline: 16px;
    padding-block: 6px;
    margin-inline-start: 16px;
    font-size: var(--site-nav-type-size-link-small);
    color: var(--site-nav-color-link);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.2s ease;
    border: 1px solid var(--color-accent-test);
    border-radius: 24px;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  .logo__container {
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: var(--logo-width);
    height: var(--logo-width);
    background-color: var(--logo-color-background);
    /* background-color: #5bb1a1; */
  }

  .banner__container {
    margin-block-end: 48px;
    & > * {
      margin: 0.15em;
    }
  }
</style>
