---
import "../styles/global.css";
import ThemeToggle from "./ThemeToggle.astro";
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<div class="nav__container">
  <div class="nav__inner width--large">
    <ThemeToggle />
    <!-- <h1 class="logo__container">
      <Logo />
    </h1> -->
    <nav class="nav">
      <a class="nav__link" href="/">Home</a>
      <a class="nav__link" href="/work/">Work</a>
      <!-- <a class="nav__link" href="/archive">Writing</a>
      <a class="nav__link" href="/about">About</a> -->
    </nav>
  </div>
</div>
<header class="header width--large">
  <div class="banner__container">
    <h1 class="font-size--lg color-text--contrast">Grant Staublin</h1>
    <p class="color-text--dim">
      Design Systems / Product Design / Art Direction
    </p>
    <p class="color-text--dim">Boston, MA</p>
  </div>
</header>

<div class="header__divider"></div>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  .nav__container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-block-end: 60px;
    background-color: var(--color-surface-alpha);
    backdrop-filter: blur(8px);
  }

  .nav__inner {
    /* max-width: 1194px; */
    /* width: 100%; */
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding-block: 8px;
    position: sticky;
    top: 0;
  }

  .nav {
    display: flex;
    margin-left: auto;
  }

  .nav__link {
    display: inline-block;
    /* padding: 1rem 0.75rem; */
    padding-inline: 16px;
    padding-block: 6px;
    margin-inline-start: 16px;
    font-size: var(--site-nav-type-size-link-small);
    color: var(--site-nav-color-link);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.2s ease;
    border: 1px solid var(--color-accent-test);
    border-radius: 24px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.025);

    &:hover {
      /* text-decoration: underline; */
      border-color: var(--color-accent);
      background-color: rgba(0, 0, 0, 0.055);
    }
  }

  .logo__container {
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: var(--logo-width);
    height: var(--logo-width);
    background-color: var(--logo-color-background);
    /* background-color: #5bb1a1; */
  }

  .banner__container {
    margin-block-end: 48px;
    & > * {
      margin: 0.15em;
    }
  }

  .header__divider {
    /* width: 100%; */
    /* max-width: 1194px; */
    margin-inline: auto;
    border-bottom: 1px solid var(--color-accent-test);
    position: sticky;
    top: 50px;
    z-index: 100;
    margin-block-end: 120px;
  }
</style>
