---
const { sectionTitle } = Astro.props;
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<section>
  {
    sectionTitle && (
      <h3 class="font-size--lg color-text--contrast">{sectionTitle}</h3>
    )
  }
  <slot />
</section>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  section {
    margin-block-end: 68px;
  }

  h3 {
    margin-block-end: 24px;
  }
</style>
