---
const { cssClass } = Astro.props;
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<div class:list={["infoItems__container", cssClass]}>
  <slot />
</div>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  .infoItems__container {
    > * + * {
      margin-block-start: var(--experience-item-margin);
    }
  }
</style>
