---
const { text, size = "default", color = "default" } = Astro.props;

const sizes = {
  default: "font-size--default",
  extraSmall: "font-size--extra-small",
  small: "font-size--small",
  medium: "font-size--default",
  large: "font-size--large",
};

const colors = {
  default: "color-text--default",
  contrast: "color-text--contrast",
  subtle: "color-text--subtle",
  dim: "color-text--dim",
};

interface Props {
  text: string;
  size: keyof typeof sizes;
  color: keyof typeof colors;
}
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}

<p class:list={["textBlock__graph", sizes[size], colors[color]]}>
  {text}
</p>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  .textBlock__graph {
    margin-block-start: 0.5em;
    /* font-size: 16px; */
    /* line-height: 1.625; */
    line-height: 1.1;

    &:first-of-type {
      /* margin-block-start: 0; */
    }
  }
</style>
