// --------------------------------------------
// --------------------------------------------
//
// Animation
//
// --------------------------------------------
// --------------------------------------------

@keyframes page-fade {
  0%   { opacity: 0.01; }
  80% { opacity: 0.015; }
  90%  { opacity: 0.6; }
  100% { opacity: 1; }
}


.content-inner {
  animation: page-fade 0.45s ease;
}

.fade-in {
  animation: page-fade 0.45s ease;
}
