// --------------------------------------------
// --------------------------------------------
//
// Animation
//
// --------------------------------------------
// --------------------------------------------

@keyframes page-fade {
  0%   { opacity: 0; transform: translateY(3em) }
  100% { opacity: 1; transform: translateY(none); }
}


@keyframes page-fade-up {
  0% { opacity: 0; }

  25% {
    opacity: 0;
    -webkit-transform: translatey(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translatey(0);
  }
}


.fade-in {
  animation: page-fade-up 0.8s cubic-bezier(.05, .98, .17, .97) forwards;
}
