// --------------------------------------------
// --------------------------------------------
//
// NEW Archive
//
// --------------------------------------------
// --------------------------------------------


// Local Settings
// --------------------------------------------
$bp-archive: 800px;

$bp-archive-layout: 800px;
$bp-archive-main-headline: 900px;

$bp-archive-image: 600px;


// $border: 1px solid #198ece;
// $border-4: 4px solid #2c3b4b;

$border: 1px solid rgba(0, 0, 0, 0.1);
$border-4: 4px solid rgba(0, 0, 0, 0.8);




// Page Background
// --------------------------------------------
.page-archive {
  background-color: #5BAEEC;
}

.page-work {
  background-color: #8496A5;
}

.page-code-samples {
  background-color: #8496A5;
}

.page-about {
  // background-color: #8496A5;
}




// Page Layout
// --------------------------------------------
.archive__container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}




// Archive Items
// --------------------------------------------
.archive__items {
  margin: 0;
  padding: 0;
  list-style: none;
}


.archive__item {
  margin: 0;
  overflow: hidden;
  border-top: $border;
  border-bottom: $border;

  & + & { margin-top: 2px;}
}



// Archive Items Grid
// --------------------------------------------
.archive__items--grid {
  display: flex;
  flex-wrap: wrap;
}

.archive__item--grid {
  flex-basis: 100%;
  border-top: $border;
  transition: 0.3s ease;

  @include bp($bp-archive-image) {
    flex-basis: 50%;
    max-width: 50%;
    padding: $space-one;
    border-left: $border;
    margin-top: 2px;
    &:nth-child(2n+1) { border-left: 0; }
   }

  @include bp($bp-archive-main-headline) {
    flex-basis: 33.3%;
    max-width: 33.3%;
    &:nth-child(2n+1) { border-left: $border; }
    &:nth-child(3n+1) { border-left: 0; }
  }
  // background-color: green;
}





// Archive Pinned
// --------------------------------------------
.archive__pinned {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: $border-4;
  transition: 0.3s ease;
  padding-bottom: $space-one;

  @include bp($bp-archive-layout) {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 80px;
  }
}


.archive__pinned-main { flex: 1; }


.archive__pinned-secondary {
  flex: 1;
  @include bp($bp-archive-layout) { border-left: $border; }
}


.archive__article--pinned-main {
  margin-bottom: $space-one;
  padding-bottom: $space-one-half;
  border-bottom: $border;

  @include bp($bp-archive-layout) {
    padding-right: 30px;
    padding-bottom: 60px;
    border-bottom: 0;
  }

  @include bp($bp-archive-main-headline) {
    padding-right: 60px;
  }
}


.archive__article--pinned-secondary {
  margin-bottom: $space-one;

  @include bp($bp-archive-layout) {
    padding-left: 30px;
    padding-bottom: $space-one;
  }

  @include bp($bp-archive-main-headline) {
    padding-left: 60px;
  }

  & + & {
    border-top: $border;
    margin-top: $space-one;
    padding-top: $space-one;

    @include bp($bp-archive-main-headline) {
      margin-top: $space-two-half;
      padding-top: $space-two-half;
    }
  }
}


.archive__meta--pinned {
  @extend %overline;
  display: inline-block;
  margin: 0;
  margin-bottom: 4px;
  // border-bottom: 1px solid #198ece;
  // padding-bottom: 2px;
  color: rgba(#fff, 0.75);
  // color: yellow;
  @include bp($bp-archive-layout) {
    margin-bottom: 12px;
    // border-bottom: 1px solid #198ece;
  }
}


.archive__headline--pinned-main {
  @extend %headline;
  @extend %headline--medium;
  // margin-top: 12px;
  color: #fff;
  @include bp($bp-archive-main-headline) {
    font-size: 3.75rem;
    line-height: 0.95;
  }
}


.archive__headline--pinned-secondary {
  @extend %headline;
  @extend %headline--small;
  color: #fff;
  @include bp($bp-archive-main-headline) {
    font-size: 2.5rem;
    line-height: 0.95;
  }
}



// Archive General Styles
// --------------------------------------------
.archive__link--item {
  display: block;
  transition: 0.6s ease;
  text-decoration: none;
  // &:hover { background-color: darken(#5BAEEC, 8%); }
  // &:hover { background-color: rgba(0, 0, 0, 0.05); }
  &:hover { background-color: rgba(255, 255, 255, 0.08); }
}


.archive__meta {
  border-right: $border;
  padding-right: $space-one-quarter;
  padding-left: $space-one-quarter;
  margin-right: $space-one-quarter;
  margin-top: 0;
  margin-bottom: 0;
  width: 75px;
  padding-top: $space-one-quarter;
  padding-bottom: $space-one-quarter;
  text-align: center;
}


.archive__meta--work {
  width: auto;
  border-right: 0;
  margin-right: 0;
  // background-color: red;
}

.archive__article {
  display: flex;
  align-items: center;
}

.archive__article--work {
  // @include bp($bp-archive-image) {
  //   display: flex;
  // }
  // background-color: yellow;
}


.archive__link--headline {
  text-decoration: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  transition: 0.3s ease;

  &:hover { text-decoration: underline; }
}


.archive__headline--item {
  transition: 0.6s ease;
  padding-right: 20px;

  &::after {
    display: inline-block;
    transition: 0.6s ease;
    opacity: 0;
    content: '👉';
    transform: translate(-10px, 0);
  }

  // When Hovered
  .archive__link--item:hover & {
    // color: #c0235b;
    &::after {
      opacity: 1;
      transform: translate(10px, 0);
    }
  }
}






// Archive Work Styles
// --------------------------------------------
.archive__image--work {
  @include bp($bp-archive-image, $bp-archive-layout) {
    float: right;
    margin-left: $space-one;
    margin-bottom: $space-half;
    width: 250px;
  }
}


.archive__content--work {
  margin-top: $space-one;
}

.archive__headline--work {
  @extend %headline;
  @extend %headline--small;
  margin-bottom: $space-three-fourths;

  @include bp($bp-archive-layout) {
    font-size: 2.5rem;
    line-height: 0.95;
  }
}



.archive__headline--work--small {
  @extend %headline;
  @extend %headline--small;
  margin-bottom: $space-half;
}

.archive__text--work {
  @extend %text;
  margin: 0 0 .75rem;
  font-size: 1rem;
  line-height: 1.475;
}


.archive__link--text {
  display: block;
  margin-top: 6px;
  font-family: $type-face-overline;
  font-size: 0.85em;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    display: inline-block;
    transition: 0.6s ease;
    opacity: 0;
    content: '👉';
    transform: translate(-10px, 0);
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: translate(10px, 0);
    }
  }
}


.archive__img--work--small {
  width: 150px;
  // float: right;
  transition: 0.3s ease;
  @include bp($bp-archive-layout) {
    width: 250px;
  }
}

.archive__content--work--small {
  padding: 10px;
  align-self: center;
}




// --------------------------------------------
// --------------------------------------------
//
// Work Redesign
//
// --------------------------------------------
// --------------------------------------------
$bp-work-headline: 600px;

$bp-work-headline-increase: 960px;

$bp-work-grid-small-has-layout: 600px;
$bp-work-grid-small-has-border: 960px;
$bp-work-grid-small-has-img-adjustment: 1100px;

$bp-work-grid-large-has-layout: 800px;
$bp-work-grid-large-has-border: 960px;
$bp-work-grid-large-has-image-adjustment: 1100px;

$bp-adjust-item-for-bleed: 960px;

$bp-device-large-increase: 600px;




// Theme Variables
// --------------------------------------------
:root {
  --archive-section-color-bg: #2F80ED;
  // --archive-section-color-border: #2158A2;
  --archive-section-color-border: rgba(0, 0, 0, 0.1);
  --archive-section-color-text: #fff;
  --archive-section-color-link: #fff;
  --archive-section-color-link-bg: green;
}

.theme--cornflower {
  --archive-section-color-bg: #2F80ED;
  --archive-section-color-text: #c2f0ff;
  --archive-section-color-link-bg: #d8af30;
}


.theme--lush {
  --archive-section-color-bg: #27AE60;
  --archive-section-color-text: #c7ffde;
}

.theme--mustard {
  --archive-section-color-bg: #F2C94C;
  --archive-section-color-text: #fefff7;
  --archive-section-color-link-bg: #d8af30;
}


.theme--sky {
  --archive-section-color-bg: #56CCF2;
  --archive-section-color-text: #e9fffe;
  --archive-section-color-link-bg: #33acd2;
  // --archive-section-color-text: #8586bb;
}

.theme--lavender {
  --archive-section-color-bg: #BB6BD9;
  --archive-section-color-text: #f7e3ff;
}


.theme--gravel {
  --archive-section-color-bg: #828282;
  --archive-section-color-text: #e4e4e4;
}




// Work Grid
// --------------------------------------------
.work__grid--wrapper {
  overflow: hidden;
}


.work__grid--2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include bp($bp-work-grid-small-has-layout) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
}


.work__grid--2--item {
  @include bp($bp-work-grid-large-has-layout) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: calc(50px + 5vw);
  }
}


.work__item:nth-of-type(2n + 1) {
  .work__grid--2--item {
    grid-template-columns: 2fr 1fr;
  }
  .work__media {
    grid-column: 2;
    grid-row: 1;
  }
  .work__container--img {
    @include bp($bp-work-grid-large-has-layout) {
      position: absolute;
      width: calc(600px + 2vw);
      right: calc(-300px - 5vw);
      left: initial;
      top: -2vw;
    }
    @include bp($bp-work-grid-large-has-image-adjustment) {
      right: calc(-200px - 5vw);
      left: initial;
    }
  }
}




// Work Item
// --------------------------------------------
.work__item {
  background-color: var(--archive-section-color-bg);
  padding: 2rem 1.5rem;
  overflow: hidden;
  @include bp(1200px) {
    padding-left: 0;
    padding-right: 0;
  }
  @include bp($bp-work-grid-large-has-layout) {
    padding: 4rem 2rem;
  }
}


.work__item--will-bleed {
  @include bp($bp-adjust-item-for-bleed) {
    padding-top: calc(4rem + 51px);
  }
}


.work__item--small {
  position: relative;
  background-color: var(--archive-section-color-bg);
  padding: 2rem 1.5rem;
  transition: 0.2s;
  @include bp($bp-work-grid-small-has-border) {
    padding: 6rem 4rem;
    &:before {
      position: absolute;
      content: '';
      top: 4rem;
      left: 2rem;
      right: 2rem;
      bottom: 4rem;
      border-width: 2px;
      border-style: solid;
      border-color: var(--archive-section-color-border);
    }
  }
  @include bp(1200px) {
    &:before { left: 1.5rem; }
  }

  @include bp($bp-work-grid-small-has-img-adjustment) {
    padding-bottom: 11rem;
  }
  // Stretches background behind items;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100%;
    z-index: -1;
    background-color: var(--archive-section-color-bg);
  }

  &:nth-of-type(even) {
    &:after {
      left: initial;
      right: -100%;
    }
  }
}


.work__inner--item {
  @include bp($bp-work-grid-small-has-border) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    border-width: 2px;
    border-style: solid;
    border-color: var(--archive-section-color-border);
    padding: calc(2rem + 1vw);
  }
}




// Work Type + Content
// --------------------------------------------
.work__content {
  position: relative;
  z-index: 1;
}


.work__headline {
  position: relative;
  margin: 0;
  font-family: $type-face-headline-sans-alt;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.15;
  color: #fff;
  transition: 0.2s;
  @include bp($bp-work-headline-increase) {
    font-size: 42px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 48px;
    bottom: -24px;
    height: 0.25em;
    background-color: var(--archive-section-color-border);
    border-radius: 0.5rem;
  }
  @include bp($bp-work-grid-large-has-layout) {
    &:after {
      bottom: -0.95em;
      height: 0.5em;
      width: 65px;
    }
  }
}


.work__headline--small {
  @include bp($bp-work-headline-increase) { font-size: 30px; }
}


.work__text {
  // margin-top: 62px;
  margin-top: 36px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5125;
  color: var(--archive-section-color-text);
  @include bp($bp-work-grid-large-has-layout) {
    margin-top: 48px;
  }
}


.work__link--text {
  margin-top: 24px;
  color: var(--archive-section-color-link);
}


.link--work {
  @include link;
}

// .work__link--text--alt {
//   display: inline-block;
//   padding: 0.75rem;
//   padding-left: 1.75rem;
//   border-radius: 0.5rem;
//   background-color: var(--archive-section-color-link-bg);
// }




// Work Images + Media
// --------------------------------------------
.work__media {
  position: relative;
  margin-bottom: 1.5rem;
}


.work__media--small {
  @include bp($bp-work-grid-small-has-img-adjustment) {
    position: absolute;
    bottom: -0.65rem;
    right: 1rem;
    width: 275px;
    border-color: var(--archive-section-color-bg);
    border-width: 16px;
    border-style: solid;
  }
}



.work__container--img {
  border: 2px solid var(--archive-section-color-border);
  //////
  @include bp($bp-work-grid-large-has-layout) {
    position: absolute;
    width: calc(600px + 2vw);
    left: calc(-300px - 5vw);
    right: initial;
    top: -2vw;
  }
  @include bp($bp-work-grid-large-has-image-adjustment) {
    left: calc(-200px - 5vw);
    right: initial;
  }
}


.work__container--img--small { }

.work__img {
  border: 2px solid darken(#1a1a1a, 5%);
  border-radius: 4px;
}



// Work Device
// --------------------------------------------
.work__device {
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.75rem;
  background-color: #1a1a1a;
  transition: 0.2s;
  @include bp($bp-device-large-increase) {
    border-radius: 1.4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


.work__device--small {
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.75rem;
  background-color: #1a1a1a;
  transition: 0.2s;
}
