// --------------------------------------------
// --------------------------------------------
//
// Case Study
//
// --------------------------------------------
// --------------------------------------------


// Local variables
// --------------------------------------------
$bp-bleed-top: 960px;
$bleed-size: 51px; // equal to height of header
$hero-text-color: #364d65;
// $case-study-section: '.module--case-study';

// Breakpoints Comeback hero
$bp-hero-comeback-has-layout: 600px;
$bp-hero-comeback-has-adjustment: 800px;

// Breakpoints Details
$bp-details-has-layout: 600px;
$bp-details-is-3: 1100px;

// Breakpoints Section
$bp-section-padding-increase: 800px;

// Breakpoints Image
$bp-img-will-overlap: $bp-bleed-top;




// Theme Variables
// --------------------------------------------
:root {
  --hero-bg: #F2F2F2;
  --text-color-case-study: #43566b;
  --headline-color-case-study: #2c3b4b;
  --text-color-hero: #2c3b4b;
  --section-bg: #fff;
}


.theme--red-sox {
  --hero-bg: #F13B3B;
  --text-color-case-study: #ffd5d5;
  --headline-color-case-study: #fff;
  --text-color-hero: rgba(255, 215, 155, 0.9);
  --text-color-hero-accent: rgba(255, 235, 155, 0.75);
  --section-bg: #F13B3B;
}




// Universal Selectors
// --------------------------------------------
img { vertical-align: middle; }




// Case Study Modules
// --------------------------------------------
.case-study__module--704 {
  width: 100%;
  max-width: 704px;
  margin-left: auto;
  margin-right: auto;
}


.case-study__module--1256 {
  width: 100%;
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
}




// Case Study Sections
// --------------------------------------------
.case-study__section { }


.case-study__section--has-vertical-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: 0.2s;
  @include bp($bp-section-padding-increase) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}


.case-study__section--banner {
  position: relative;
  padding: 0;
  overflow: hidden;
}




.case-study__section { border: 8px solid orange; }
.case-study__section--banner { border: 8px solid green; }
.case-study__section--broadsheet { border: 8px solid purple; }




.case-study__content { }


// If content is not the first child of a section
* + .case-study__content { border: 8px solid blue; }




// Hero bleed top
// --------------------------------------------
.hero--bleed--top {
  position: relative;
  transition: 0.2s;
  @include bp($bp-bleed-top) {
    top: -$bleed-size;
    margin-bottom: -$bleed-size;
  }
}




// Backgrounds
// --------------------------------------------
.case-study__bg { background-color: var(--hero-bg); }




// Hero
// --------------------------------------------
.case-study__hero {
  padding: 4rem 1rem 2rem;
  background-color: var(--hero-bg);
  text-align: center;
  transition: 0.2s;
  @include bp($bp-bleed-top) {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
}


// -webkit-repeating-linear-gradient(-45deg, #fcfcfc 0, #f7f7f7 1px, #f7f7f7 0.15em, #fcfcfc calc(.15em + 1px), #fcfcfc 0.85em)




// Hero Typography
// --------------------------------------------
.case-study__headline--hero {
  margin: 0;
  margin-bottom: calc(#{$space-quarter} + 2vw);
  font-family: 'coranto-2';
  font-size: calc(24px + 3vw);
  font-weight: 400;
  line-height: 1;
  color: $hero-text-color;
  text-align: center;
  transition: 0.2s;
  @include bp(800px) {
    margin-bottom: $space-one-quarter;
    font-size: 64px;
  }
  &:after {
    content: '';
    width: $size-four;
    height: 2px;
    display: block;
    margin: $size-one-quarter auto;
    background-color: currentColor;
  }
}


.case-study__text--hero {
  margin: 0;
  font-family: 'coranto-2';
  font-size: calc($size-one + 3vw);
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  transition: 0.2s;
  @include bp(800px) {
    font-size: $size-one-eighth;
    line-height: 1.82;
  }

  p { margin: 0; }
  p + p { margin-top: $space-one-quarter; }
}




// Typography
// --------------------------------------------
.case-study__headline {
  margin: 0;
  margin-bottom: $space-one;
  font-family: $type-face-headline-sans-alt;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  color: var(--headline-color-case-study);
}


.case-study__text {
  font-family: $type-face-text;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.45;
  color: var(--text-color-case-study);
  p { margin: 0; }
  p + p { margin-top: $space-one-quarter; }
}




// Images
// --------------------------------------------
.case-study__container--img {
  position: relative;
  overflow: hidden;
}


.case-study__container--img--broadsheet {
  position: relative;
  // width: 100%;
  // max-width: 704px;
  padding-left: $space-half;
  padding-right: $space-half;
  background-color: #fff;
  transition: 0.2s;
  @include bp($bp-img-will-overlap) {
    top: -51px;
    margin-bottom: -51px;
  }
}


.case-study__img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}


.case-study__img--banner {
  animation: banner-zoom 12s ease-in-out infinite;
  transform-origin: 50% 50%;
  object-fit: cover;
}


.case-study__banner-mask {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(32, 40, 49, 0.1);
  background-image: url(/static/img/case-study/pattern.png);
}




// Items
// --------------------------------------------
.case-study__items,
.case-study__details {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  @include bp($bp-details-has-layout) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: $bp-details-has-layout;
  }
  @include bp($bp-details-is-3) {
    max-width: $bp-details-is-3;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}




// Item
// --------------------------------------------
.case-study__item {
  padding-left: 1rem;
  padding-right: 1rem;
  & + & { margin-top: 3rem; }
  @include bp($bp-details-has-layout) {
    padding: 0;
    & + & { margin-top: 0; }
    width: calc(50% - (3rem / 2));
    &:nth-child(2n + 2) { margin-left: $space-three; }
    &:nth-child(1n + 3) { margin-top: $space-three; }
  }
  @include bp($bp-details-is-3) {
    width: calc(33.333% - (6rem / 3));
    &:nth-child(1n + 3) { margin-top: 0; }
    &:nth-child(1n + 4) { margin-top: $space-three; }
    &:nth-child(2n + 2) { margin-left: 0; }
    &:nth-child(1n + 2) { margin-left: $space-three; }
    &:nth-child(3n + 1) { margin-left: 0; }
  }
}


.case-study__image--item {
  width: 100%;
  height: auto;
  max-width: 135px;
  float: right;
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 50%;
  transition: 0.2s;
  @include bp($bp-details-has-layout) {
    float: none;
    margin: 0;
    max-width: 100%;
    border-radius: 0;
  }
}


.case-study__content--item {
  @include bp($bp-details-has-layout) {
    margin-top: $space-one-half;
    margin-bottom: $space-quarter;
  }
}


.case-study__headline--item {
  margin: 0;
  margin-bottom: $space-quarter;
  font-family: 'tablet-gothic';
  font-size: $size-one-quarter;
  font-weight: 700;
  line-height: 1.25;
  color: var(--headline-color-case-study);
}


.case-study__text--item {
  font-size: $size-one;
  color: var(--text-color-case-study);
  line-height: 1.45;
  font-weight: 400;
  p { margin: 0; }
  p + p { margin-top: 0.8rem; }
}






// --------------------------------------------
// --------------------------------------------
//
// Case Study :: Comeback
//
// --------------------------------------------
// --------------------------------------------


// Typography
// --------------------------------------------
.headline--case-study--hero--comeback {
  margin: 0;
  margin-bottom: calc(#{$space-quarter} + 2vw);
  font-family: $type-face-headline-sans-alt;
  font-size: calc(48px + 3vw);
  font-weight: 900;
  line-height: 0.9;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s ease;
  text-align: left;
  @include bp(600px) { font-size: calc(80px + 3vw); }
  @include bp(800px) {
    margin-bottom: $space-one-quarter;
    font-size: calc(105px + 3vw);
    line-height: 0.85;
    span { display: block; }  // make each line block
  }
}




.text--case-study--hero--comeback {
  margin: 0;
  font-family: $type-face-headline-sans-alt;
  font-size: calc(#{$size-one} + 1vw);
  line-height: 1.5;
  font-weight: 400;
  transition: 0.3s ease;
  text-align: left;
  color: var(--text-color-hero);
  @include bp(800px) {
    font-size: $size-one-half;
    line-height: 1.65;
  }
  p { margin: 0; }
  p + p { margin-top: $space-one-quarter; }
}


.headline--sub--case-study--hero--comeback {
  margin: 0;
  margin-bottom: calc(#{$space-quarter} + 2vw);
  font-family: $type-face-headline-sans-alt;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.05;
  color: #b60606;
  transition: 0.3s ease;
  text-align: left;
  @include bp(800px) { max-width: 450px; }
}


.case-study__content,
.case-study__content--comeback {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 700px;
  text-align: center;
}




// Hero Accents
// --------------------------------------------
.hero__accent--circle {
  position: absolute;
  top: -$space-one;
  right: -$space-half;
  margin: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B60606;
  color: #fff;
  border-radius: 50%;
  font-family: $type-face-headline-sans-alt;
  font-size: 14px;
  box-shadow: 4px 4px 8px rgba(#900909, 0.2);
  @include bp(800px) { top: -$space-one-quarter; }
  @include bp(960px) {
    top: -$space-one-half;
    width: 65px;
    height: 65px;
    font-size: 16px;
  }
}


.hero__accent--diamond {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  @include bp(800px) {
    max-width: 250px;
    top: 25px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border: 8px solid rgba(#C51C1C, 0.6);
    transform: rotate(-45deg);
    transform-origin: center;
    display: none;
    @include bp(800px) { display: block; }
  }
  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: rgba(#c51c1c, 0.5);
    transform: rotate(-45deg);
    transform-origin: center;
    @include bp(800px) { display: none; }
  }
}


.hero__accent--diamond-text {
  display: block;
  font-size: $size-one;
  line-height: 1.25;
  color: var(--text-color-hero-accent);
  font-weight: 600;
  text-align: left;
  padding-left: 30px;
  @include bp(800px) {
    text-align: center;
    padding-left: 0;
  }
}




// Comeback Hero Grid
// --------------------------------------------
.hero__grid--comeback {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(#{$space-one-half} + 3vw);
  @include bp($bp-hero-comeback-has-layout) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  @include bp(800px) {
    grid-gap: calc(50px + 5vw);
  }
}


.hero__media--comeback {
  position: relative;
  margin-bottom: $space-two;
  @include bp(600px) { margin-bottom: $space-one;}
}




// Comeback End
// --------------------------------------------
.case-study__grid--comeback-end {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  @include bp(800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(50px + 3vw);
  }

  .case-study__content--comeback {
    @include bp(800px) { text-align: left; }
  }

  .case-study__img-container {
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: -150px;
    width: 360px;
    height: 150px;
    overflow: hidden;
    @include bp(800px) {
      top: -15px;
      left: initial;
      right: 0px;
      margin-left: 0;
      width: 500px;
      height: auto;
      transition: 0.2s;
    }
    @include bp(1100px) {
      width: 600px;
      top: -155px;
    }
  }
}


.comeback-end__image--accent {
  position: absolute;
  bottom: -250px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  text-align: center;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border: 6px solid rgba(#C51C1C, 0.6);
  }

  .case-study__img {
    position: absolute;
    top: -80px;
    width: 80px;
    left: 50%;
    margin-left: -45px;
  }

  .hero__accent--diamond-text {
    padding-top: 40px;
    padding-left: 0;
    text-align: center;
  }
}


.hero__media--comeback {
  transition: 0.3s;
  &.hero__image-container--2 {
    @include bp(800px) {
      transform: translateY(calc(-15vh + 5vw));
    }
    @include bp(960px) {
      transform: translateY(calc(-47.5vh + 2vw));
    }
  }
}


.hero__image-container--2 {}


.hero__image-container--comeback {
  border: 8px solid rgba(#900909, 0.4);
}


.headline__container--comeback {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}


.case-study__section--comeback-end {
  position: relative;
  margin-top: 160px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 250px;
  transition: 0.2s;
  @include bp(800px) { margin-top: 4rem; }
  @include bp(1100px) { margin-top: 160px;}
}


.module__text--hero--comeback {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-one;
  padding-right: $space-one;

  @include bp(800px) { margin-right: 10vw; }
}


.hero__content--case-study--comeback {
  padding-bottom: 6rem;
}




// Element appear (on scroll)
// --------------------------------------------
.slide-up {
  transform: translateY(45px);
  opacity: 0;
  transition: transform 0.6s, opacity 0.3s;
}

.active {
  transform: translateY(0);
  opacity: 1;
}




// Element appear (on page load)
// --------------------------------------------
.element--will-appear {
  transform: translateZ(0);
  opacity: 0;
  animation-name: opacityIn, motionUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s, 0.5s;
  animation-timing-function: linear
}


@keyframes motionUp {
  from { transform: translateY(65px); }
  to { transform: translateY(0); }
}


@keyframes opacityIn {
  from { opacity: 0; }
  to { opacity: 1; }
}




// Banner Zoom
// --------------------------------------------
@keyframes banner-zoom {
  0% { transform: translate3d(-15px,-15px,0) scale(1.05); filter: grayscale(95%); }
  25% { transform: translate3d(-15px,-15px,0) scale(1.15); filter: grayscale(0); }
  50% { transform: translate3d(-15px,-15px,0) scale(1.15); filter: grayscale(0); }
  75% { transform: translate3d(-15px,-15px,0) scale(1.05); filter: grayscale(95%); }
  to { transform: translate3d(-15px,-15px,0) scale(1.05); filter: grayscale(95%); }
}
