// --------------------------------------------
// --------------------------------------------
//
// Footer
//
// --------------------------------------------
// --------------------------------------------

footer {
  @include text(lighten($secondary-text-color, 15%));
  margin-top: auto;
  padding: 25px 0;
  font-size: 16px;
  line-height: 1.425;
}


.footer-mod {
  @include clearfix;
  max-width: $width-med;
  margin: 0 auto;
  padding: 0 20px;
}


.footer-h {
  margin-bottom: 2em;
  font-size: 30px;
  font-weight: 200;
}


.footer-text { }


.footer-copyright-msg {
  margin-top: 35px;
  font-size: 11px;
  letter-spacing: 1px;
}

.footer-items {
  @include clearfix;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}


.footer-item {
  display: inline-block;
  position: relative;
  margin-left: 0.85rem;
  float: left;

  &:first-child { margin-left: 0; }
}


.footer-item-link {
  display: block;
  padding: 0.35rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  line-height: 0;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: darken($bg-fallback, 5%);
    .footer-icon { opacity: 0.6; }
  }
}
