// --------------------------------------------
// --------------------------------------------
//
// Footer
//
// --------------------------------------------
// --------------------------------------------

footer {
  margin-top: auto;
  padding: $space-one-half 0;
  font-size: $size-one;
  line-height: 1.425;
}


.#{$prefix}footer__mod {
  @include clearfix;
  max-width: $width-med;
  margin: 0 auto;
  padding: 0 $space-one-half;
}


.#{$prefix}footer__text { }


.#{$prefix}footer__text--copyright {
  color: var(--footer-text-color);
  margin-top: $space-two;
  font-size: $size-three-fourths;
  letter-spacing: 1px;
}


.#{$prefix}footer__items {
  @include clearfix;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}


.#{$prefix}footer__item {
  display: inline-block;
  position: relative;
  margin-left: $space-three-fourths;
  float: left;

  &:first-child { margin-left: 0; }
}


.#{$prefix}footer__link {
  display: block;
  padding: $space-quarter;
  background-color: var(--footer-link-bg);
  // border-width: 1px;
  // border-style: solid;
  // border-color: var(--footer-link-border);
  color: var(--footer-link-color);
  border-radius: 5px;
  line-height: 0;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: var(--footer-link-bg-hover);
  }
}
