// --------------------------------------------
// --------------------------------------------
//
// GCS
//
// --------------------------------------------
// --------------------------------------------




// --------------------------------------------
// --------------------------------------------
//
// Icons
//
// --------------------------------------------
// --------------------------------------------

.#{$prefix}icon {
  width: $icon-size-xlarge;
  height: $icon-size-xlarge;
}


// Sizes
.#{$prefix}icon--small { width: $icon-size-small; height: $icon-size-small; }
.#{$prefix}icon--medium { width: $icon-size-medium; height: $icon-size-medium; }
.#{$prefix}icon--large { width: $icon-size-large; height: $icon-size-large; }
.#{$prefix}icon--xlarge { width: $icon-size-xlarge; height: $icon-size-xlarge; }






// --------------------------------------------
// --------------------------------------------
//
// Pages
//
// --------------------------------------------
// --------------------------------------------

.#{$prefix}page--archive {
  background-color: $bg-color;
}


.#{$prefix}homepage {
  background-color: $bg-fallback;
  background-image: $bg;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



// --------------------------------------------
// --------------------------------------------
//
// Content wrapper
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}content__wrapper {
  position: relative;
}





// --------------------------------------------
// --------------------------------------------
//
// Post Container
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}post__container {
  position: relative;
  margin: 0 auto;
  padding: 45px;
  width: 100%;
  max-width: $width-med;
  // border: 1px solid red;

  @include bp($bp-post-has-pad, max) {
    padding: 45px 25px;
  }
}






// --------------------------------------------
// --------------------------------------------
//
// Backsplash
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}backsplash--page {
  @include clearfix;
  padding: 20px;
  padding-bottom: 6px;
  background-color: $bg-fallback;
  // background-image: $bg;
}






// --------------------------------------------
// --------------------------------------------
//
// Text
//
// --------------------------------------------
// --------------------------------------------

.#{$prefix}text {
  @include text;
  font-size: 1.125rem;
  margin: 0;
  color: $primary-text-color;
  color: rgba($primary-text-color, 0.9);
}


.#{$prefix}text--large {
  @include text;
  font-size: 1.325rem;
  margin: 0;
  color: $primary-text-color;
  color: rgba($primary-text-color, 0.9);
}


.#{$prefix}text--small {
  @include text;
  font-size: 0.875rem;
  margin: 0;
  color: rgba($primary-text-color, 0.9);
}


.#{$prefix}text--bold {
  font-weight: bold;
}


.#{$prefix}slash {
  display: inline-block;
  position: relative;
  top: -2px;
  font-weight: 100;
  font-size: 0.65em;
  margin-left: 8px;
  margin-right: 8px;
}



.#{$prefix}headline--page {
  @include accent;
  margin: 0;
  padding: 40px 20px;
  background-color: #f1f1f1;
  color: rgba($primary-text-color, 0.6);
  font-size: 1.75em;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}




// --------------------------------------------
// --------------------------------------------
//
// Homepage
//
// --------------------------------------------
// --------------------------------------------

.#{$prefix}headline--homepage {
  @include accent;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.88);
  letter-spacing: 1px;
}

.#{$prefix}intro--homepage {
  margin: 0;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.325;
  color: rgba(255, 255, 255, 0.88);

  @include bp($bp-sm) {
    font-size: 30px;
  }
}


.#{$prefix}text--homepage {
  margin-top: 18px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.525;
  color: rgba(255, 255, 255, 0.7);

  @include bp($bp-sm) {
    font-size: 24px;
  }
}



// --------------------------------------------
// --------------------------------------------
//
// Link
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}link--hp {
  @include link(#fff);
}



// --------------------------------------------
// --------------------------------------------
//
// Header
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}header--page {
  background-color: $bg-fallback;
  padding-left: 20px;
  padding-right: 20px;
}


.#{$prefix}header--hp {
  padding-left: 20px;
  padding-right: 20px;
}


.#{$prefix}header--page__inner {
  display: flex;
  align-items: center;
  // height: 59px;
}




// --------------------------------------------
// --------------------------------------------
//
// Nav
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}nav {
  display: flex;
  margin-left: auto;
  margin-right: -20px;
}


.#{$prefix}nav__link {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease;

  // & + & { margin-left: 0.5rem; }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}




// --------------------------------------------
// --------------------------------------------
//
// Work
//
// --------------------------------------------
// --------------------------------------------

.#{$prefix}work__item {
  @include clearfix;
  // display: flex;
  // flex-flow: row-reverse;
  // border: 1px solid blue;
  // margin-bottom: 100px;
  // position: relative;
  // @include clearfix;

  // &:last-child { margin-bottom: 0; }

  & + & { margin-top: 4rem; }

  @include bp($bp-sm) {  }
}


.#{$prefix}work__h {
  margin: 0 0 7px;
  font-weight: $text-weight;
  font-size: 1.75rem;
  line-height: 1.15;
}


.#{$prefix}work__content {
  font-family: $type-main;
  color: rgba(0, 0, 0, 0.85);
}



.#{$prefix}work__link {
  text-decoration: none;
  color: black;
}


.#{$prefix}work__link--highlight {
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.5em 0.8em;
  padding-bottom: 0.65em;
  border: 1px solid rgba($bg-fallback, 0.5);
  font-size: 0.85em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: $bg-fallback;
    color: black;
  }
}


.#{$prefix}work__text {
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 1.475;
  font-weight: 400;
}


.#{$prefix}work__link--img {
  margin-left: 2rem;

  @include bp($bp-sm) {
    float: right;
  }
}


.#{$prefix}work__img-container {
  width: 250px;
}




// --------------------------------------------
// --------------------------------------------
//
// Image
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}img__container {
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.#{$prefix}img {
  border-radius: 4px;
}


// --------------------------------------------
// --------------------------------------------
//
// About
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}page--about {
  font-size: 1.25rem;
  line-height: 1.4;


  // contextual styling
  .#{$prefix}content__wrapper {
    a { @include link(currentColor); }

  }
}





