// --------------------------------------------
// --------------------------------------------
//
// Header
//
// --------------------------------------------
// --------------------------------------------
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: var(--site-header-max-width);
  height: var(--site-header-height);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--site-header-color-background);
}


.header__inner { display: flex; }






// --------------------------------------------
// --------------------------------------------
//
// Nav
//
// --------------------------------------------
// --------------------------------------------
.nav {
  display: flex;
  margin-left: auto;
}


.nav__link {
  font-family: $type-face-overline;
  display: inline-block;
  padding: 1rem 0.75rem;
  font-size: var(--site-nav-type-size-link-small);
  color: var(--site-nav-color-link);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  @include bp($bp-site-nav-type-size-increase) {
    font-size: var(--site-nav-type-size-link-large);
  }

  &:hover { text-decoration: underline; }
}