// --------------------------------------------
// --------------------------------------------
//
// Header
//
// --------------------------------------------
// --------------------------------------------
.header {
  padding-left: $space-one;

  .page-about &,
  .gcs-page--post &,
  .gcs-page--archive & { background-color: #12222d; }
}


.header--hp {
  background-color: transparent;
}


.header__inner {
  display: flex;
  align-items: center;
}
