// --------------------------------------------
// --------------------------------------------
//
// Grant image
//
// --------------------------------------------
// --------------------------------------------



.grant-img-container--post {
  // margin: 0 auto;
  // width: 100%;
  // max-width: $width-xsm;
  position: relative;
  // top: -$top-margin;
  // text-align: center;
  width: 35px;
  height: auto;
  // height: 75px;
}


.grant-img {
  max-width: 100%;
  // opacity: 0.8;
  // filter: blur(1px) opacity(90%) contrast(250%);
  filter: grayscale(90%) opacity(90%) contrast(120%);
  border-radius: 50%;
}

.type-img-container {
  position: absolute;
  width: 100%;
  top: 100px;
  opacity: 0.1;

  @include bp($bp-sm) {
    top: -20px;
  }
}


.type-img {
  max-width: 100%;
}


.logo__link {
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.2s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}


// --------------------------------------------
// --------------------------------------------
//
// NEW STUFF
//
// --------------------------------------------
// --------------------------------------------
.logo__container--hp {
  position: relative;
  top: 2rem;
  left: 20px;
  z-index: 1;
  margin: 0;

  @include bp($bp-med) {
    position: absolute;
    left: 2rem;
  }
}


.logo__link--hp {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  transition: transform 0.2s ease, color 0.5s 0.1s ease;
  transform: scale(1);

  &:hover {
    color: rgba(255, 255, 255, 0.65);
    transform: scale(0.9);
    transition: transform 0.4s ease, color 0.1s 0.1s ease;
  }

  &:active {
    color: rgba(255, 255, 255, 0.9);
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
  }
}



.logo__svg {
  width: 40px;
  height: auto;
}


.svg--logo--hp {
  width: 24px;
  height: auto;
  transition: all 0.2s ease;

  @include bp($bp-med) {
    width: 32px;
  }
}

// Standard logo
.svg--logo {
  width: 32px;
  height: auto;
}


// --------------------------------------------
// --------------------------------------------
//
// Page Mod
//
// --------------------------------------------
// --------------------------------------------

.page-mod {
  @include clearfix;
  width: 100%;
  // max-width: $width-med;
  margin: 0 auto;
  padding: 0 20px;

  @include bp($bp-med) {
    max-width: $width-med;
  }
}

.page-mod--hp-intro {
  margin-top: 40px;
  transition: margin-top 0.2s ease;

  @include bp($bp-med) {
    margin-top: 6rem;
  }
}


.page-intro {
  // margin: 25px 0;
  margin: 0;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.325;
  color: rgba(255, 255, 255, 0.88);

  @include bp($bp-sm) {
    font-size: 30px;
    // margin-top: 75px;
  }
}


.page-text {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.525;
  color: rgba(255, 255, 255, 0.7);
}



.page-intro-sm {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.425;
  text-align: center;
  color: #fff;
}


.section--h {
  @include display;
  position: relative;
  margin: 0 auto 60px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:after {
    position: absolute;
    content: '\0020';
    width: 75px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    left: 0;
    bottom: -15px;
  }

  // &:after,
  // &:before {
  //   position: absolute;
  //   content: '\0020';
  //   background-color: rgba(0, 0, 0, 0.1);
  //   width: 20px;
  //   height: 30px;
  //   top: 10px;
  // }
  // &:after { right: -20px; }
  // &:before { left: -20px; }
}





// --------------------------------------------
// --------------------------------------------
//
// Teases
//
// --------------------------------------------
// --------------------------------------------

.teases-mod {
  width: 100%;
  margin: 30px auto 100px;
  background-color: $primary-color-drk;
}

.teases-mod--inner {
  margin: 0 auto;
  max-width: $width-med;
  padding: 100px 20px;
}


.tease-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tease-h {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  font-family: $type-main;
}

.tease-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.17);
  @include clearfix;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}


.tease-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover {
    color: #fff;
    .tease-date { color: rgba(255, 255, 255, 0.6); }
  }
}


.tease-date {
  margin: 0;
  font-size: 11px;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.6);
}


.archive-tease__h {
  margin-top: 40px;
  margin-bottom: 0;
}

.archive-tease__link {
  position: relative;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;

  &:after {
    position: absolute;
    display: inline-block;
    content: '→';
    color: rgba(255, 255, 255, 0.6);
    margin-left: 5px;
  }

  &:hover { text-decoration: underline; }
}





// --------------------------------------------
// --------------------------------------------
//
// Grid
//
// --------------------------------------------
// --------------------------------------------

.grid-mod {
  margin: 60px auto;
  padding: 0 20px;
  max-width: $width-med;
  @include clearfix;
}


.grid-item {
  margin-bottom: 100px;
  position: relative;
  @include clearfix;

  &:last-child { margin-bottom: 0; }

  @include bp($bp-sm) {
    // width: 42%;
    // float: left;
    // &:nth-child(2n+2) {
    //   float: right;
    //   margin-top: 100px;
    //   margin-bottom: 0;
    // }
  }
}


.grid-item-content { }

.grid-item__img {
  width: 40%;
  float: right;
  margin-left: 15px;

  img { max-width: 100%; }
}


.grid-item__content {
  color: rgba(255, 255, 255, 0.8);
  font-family: $type-main;
}


.grid-item__h {
  margin: 0 0 7px;
  font-weight: $text-weight;
  font-size: 24px;
  line-height: 1.15;
}


.grid-item__link,
.grid-item__link--highlight {
  text-decoration: none;
  color: #fff;
}

.grid-item__link--highlight {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em 0.8em;
  // padding: 0 0 0.2em;
  border: 1px solid rgba(#fff, 0.5);
  // border-bottom: 1px solid rgba(#fff, 0.5);
  font-size: 0.85em;
  color: rgba(#fff, 0.8);
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  &:hover {
    border-color: rgba(#fff, 0.8);
    color: #fff;
  }
}

.grid-item__text {
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 1.475;
  font-weight: 400;
}
