// --------------------------------------------
// --------------------------------------------
//
// Grant image
//
// --------------------------------------------
// --------------------------------------------

.grant-img-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $width-sm;
  top: -$top-margin;
}


.grant-img-container--post {
  margin: 0 auto;
  width: 100%;
  max-width: $width-xsm;
  position: relative;
  top: -$top-margin;
}


.grant-img {
  max-width: 100%;
  opacity: 0.9;
  filter: blur(1px) opacity(90%) contrast(250%);
}

.type-img-container {
  position: absolute;
  width: 100%;
  top: 100px;
  opacity: 0.1;

  @include bp($bp-sm) {
    top: -20px;
  }
}


.type-img {
  max-width: 100%;
}





// --------------------------------------------
// --------------------------------------------
//
// Page Mod
//
// --------------------------------------------
// --------------------------------------------

.page-mod {
  max-width: $width-med;
  margin: 0 auto;
  padding: 0 20px;
  @include clearfix;
}


.page-intro {
  margin: 25px 0 125px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.425;
  color: rgba(255, 255, 255, 0.8);

  @include bp($bp-sm) {
    font-size: 30px;
    margin-top: 75px;
  }
}


.page-intro-sm {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.425;
  text-align: center;
  color: #fff;
}


.section-h {
  @include display;
  position: relative;
  margin: 0 auto 45px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:after {
    position: absolute;
    content: '\0020';
    width: 75px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    left: 0;
    bottom: -15px;
  }

  // &:after,
  // &:before {
  //   position: absolute;
  //   content: '\0020';
  //   background-color: rgba(0, 0, 0, 0.1);
  //   width: 20px;
  //   height: 30px;
  //   top: 10px;
  // }
  // &:after { right: -20px; }
  // &:before { left: -20px; }
}





// --------------------------------------------
// --------------------------------------------
//
// Teases
//
// --------------------------------------------
// --------------------------------------------

.teases-mod {
  width: 100%;
  margin: 30px auto 100px;
  background-color: $primary-color-drk;
}

.teases-mod--inner {
  margin: 0 auto;
  max-width: $width-med;
  padding: 100px 20px;
}


.tease-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tease-h {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  font-family: $type-main;
}

.tease-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.17);
  @include clearfix;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}


.tease-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover {
    color: #fff;
    .tease-date { color: rgba(255, 255, 255, 0.6); }
  }
}


.tease-date {
  margin: 0;
  font-size: 11px;
  letter-spacing: 4px;
}


.all-link {
  margin-top: 40px;
  margin-bottom: 0;
}

.archive-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;

  &:after {
    position: absolute;
    display: inline-block;
    content: '→';
    color: rgba(255, 255, 255, 0.6);
    margin-left: 5px;
  }

  &:hover { text-decoration: underline; }
}





// --------------------------------------------
// --------------------------------------------
//
// Grid
//
// --------------------------------------------
// --------------------------------------------

.grid-mod {
  margin: 60px auto;
  padding: 0 20px;
  max-width: $width-med;
  @include clearfix;
}


.grid-item {
  margin-bottom: 100px;
  position: relative;
  @include clearfix;

  &:last-child { margin-bottom: 0; }

  @include bp($bp-sm) {
    // width: 42%;
    // float: left;
    // &:nth-child(2n+2) {
    //   float: right;
    //   margin-top: 100px;
    //   margin-bottom: 0;
    // }
  }
}


.grid-item-content {
  // width: 65%;
  // float: left;
  // .grid-item:nth-child(2n+2) & {
  //   float: left;
  // }
}

.grid-item-img {
  width: 40%;
  float: right;
  margin-left: 15px;

  // .grid-item:nth-child(2n+2) & {
  //   float: right;
  //   margin-right: 0;
  // }
  // transition-property: transform;
  // transition-delay: 0.3, 0.3s;
  // transition-duration: 0.3s;

  // &:hover {
  //   transform: scale(1.1) rotate(-0.5deg);
  //   transition-delay: 0s, 0.3s;
  // }

  img { max-width: 100%; }
}


.grid-item-content {
  color: rgba(255, 255, 255, 0.8);
  font-family: $type-main;
}


.grid-item-h {
  margin: 0 0 7px;
  font-weight: $text-weight;
  font-size: 24px;
  line-height: 1.15;
}


.grid-item-link,
.grid-link {
  text-decoration: none;
  color: #fff;
}

.grid-link {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em 0.8em;
  // padding: 0 0 0.2em;
  border: 1px solid rgba(#fff, 0.5);
  // border-bottom: 1px solid rgba(#fff, 0.5);
  font-size: 0.85em;
  color: rgba(#fff, 0.8);
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  &:hover {
    border-color: rgba(#fff, 0.8);
    color: #fff;
  }
}

.grid-item-text {
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 1.475;
  font-weight: 400;
}


.grid-item-meta {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}


.grid-meta-items {
  @include clearfix;
  text-align: center;
}


.grid-meta-item {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 3px;
  padding: 3px 7px;
  float: left;
  background-color: rgba(0, 0, 0, 0.6);

  &:first-child { margin-left: 0; }
  &:last-child { margin-bottom: 0; }
}


// <ul class="grid-meta-items">
//     <li class="grid-meta-item">Design</li>
//     <li class="grid-meta-item">Front-end development</li>
//     <li class="grid-meta-item">Responsive Strategy</li>
// </ul>
