// --------------------------------------------
// --------------------------------------------
//
// Icons
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}icon {
  width: $icon-size-xlarge;
  height: $icon-size-xlarge;
}


// Sizes
.#{$prefix}icon--small { width: $icon-size-small; height: $icon-size-small; }
.#{$prefix}icon--medium { width: $icon-size-medium; height: $icon-size-medium; }
.#{$prefix}icon--large { width: $icon-size-large; height: $icon-size-large; }
.#{$prefix}icon--xlarge { width: $icon-size-xlarge; height: $icon-size-xlarge; }