// --------------------------------------------
// --------------------------------------------
//
// Logo
//
// --------------------------------------------
// --------------------------------------------




// Local Variables
// --------------------------------------------
:root {
  --logo-width: 51px;  // matches height of site header
  --logo-color-background: #12222d;
  --logo-svg-width: $size-one-three-fourths;
  --logo-svg-height: $size-one-three-fourths;
}

.theme--dark-night {
  // --logo-color-background: #D8B54B;
  --logo-color-background: #5BB1A1;
}



// Styles
// --------------------------------------------
.logo__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--logo-width);
  background-color: var(--logo-color-background);
}


.logo__link {
  display: block;
  color: var(--color-logo);
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.2s ease;

  &:hover { transform: scale(1.1); }

  &:active { transform: scale(1); }
}


.logo__link {
  display: inline-block;
}


// Standard logo
.svg--logo {
  width: var(--logo-svg-width);
  height: var(--logo-svg-height);
}