// --------------------------------------------
// --------------------------------------------
//
// Logo
//
// --------------------------------------------
// --------------------------------------------




.logo__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  background-color: #12222d;
}


.logo__link {
  display: block;
  // color: rgba(255, 255, 255, 1);
  color: var(--color-logo);
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.2s ease;

  &:hover { transform: scale(1.1); }

  &:active { transform: scale(1); }
}


.logo__link {
  display: inline-block;
}


.logo__svg {
  width: 40px;
  height: 40px;
}


.svg--logo--hp {
  // width: 24px;
  // height: 24px;
  width: 32px;
  height: 32px;
  transition: all 0.2s;

  // @include bp($bp-med) {
  //   width: 32px;
  //   height: 32px;
  // }
}

// Standard logo
.svg--logo {
  width: 32px;
  height: 32px;
}