// --------------------------------------------
// --------------------------------------------
//
// Media Query Mixin
//
// --------------------------------------------
// --------------------------------------------

@mixin bp($bp-min, $bp-max: null) {
  @if $bp-max == null {
    @media screen and (min-width: #{$bp-min} ) { @content; }
  }
  @else if $bp-max == max {
    @media screen and (max-width: #{$bp-min} ) { @content; }
  }
  @else {
    $max-point: $bp-max - $one-px;
    @media screen and (min-width: #{$bp-min} ) and (max-width: #{$max-point} ) { @content; }
  }
}




// --------------------------------------------
// --------------------------------------------
//
// Type
//
// --------------------------------------------
// --------------------------------------------

@mixin text($color: $text-color, $font: $type-main, $font-weight: $text-weight ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}

@mixin accent($color: black, $font: $type-accent, $font-weight: $accent-bold ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}

@mixin display($color: black, $font: $type-face-headline, $font-weight: $display-wt ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}


@mixin code($color: $text-color, $font: $type-code, $font-weight: $code-wt ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}







// --------------------------------------------
// --------------------------------------------
//
// Link
//
// --------------------------------------------
// --------------------------------------------
@mixin link($color: currentColor) {
  display: inline-block;
  color: $color;
  text-decoration: none;
  position: relative;

  &:before {
    transition: opacity 0.3s linear, max-height 0.5s ease;
    position: absolute;
    left: 0;
    right: 0;
    // bottom: 0.05em;
    bottom: 0.18em;
    content: '';
    opacity: 0.33;

    width: 100%;
    height: 0.2em;
    max-height: 2px;

    background-image: linear-gradient(to right, currentColor 0%, currentcolor 100%);
    background-size: 100% 0.1em;
  }

  // hover
  &:hover { &:before { opacity: 0.6; } }

  &:visited { color: $color }
}