// --------------------------------------------
// --------------------------------------------
//
// Page
//
// --------------------------------------------
// --------------------------------------------



// Page Module Extends
// --------------------------------------------
%page__module {
  @include clearfix;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-one;
  padding-right: $space-one;
  // border: 1px solid red;
}



// Page Classes
// --------------------------------------------
.page--homepage,
.page--work,
.page--archive {
  background-color: var(--color-background);
}



// Page No Bottom Margin
// --------------------------------------------
.page--has-no-bottom-margin {
  #content { margin-bottom: 0; }
}





.bg-backsplash {
  background-color: $bg-fallback;
  // background-image: linear-gradient(-90deg, #C4174E, #AD84F1);
  // background-image: $bg;
  padding: 20px;
  padding-bottom: 25px;
  @include clearfix;
}













.#{$prefix}page__mod {
  @include clearfix;
  width: 100%;
  // max-width: $width-med;
  margin: 0 auto;
  padding: 0 20px;

  @include bp($bp-med) {
    max-width: $width-med;
  }
}

.page__module {
  @extend %page__module;
}



.#{$prefix}page__mod--hp-intro {
  margin-top: 40px;
  transition: margin-top 0.2s ease;
  // max-width: 720px;
  max-width: 609px;

  @include bp($bp-med) {
    // margin-top: 6rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    // margin-right: 12.9vw;
  }
}



.page__container {
  position: relative;
  margin: 0 auto;
  padding: 2.5rem;
  width: 100%;
  max-width: 720px;
}