// --------------------------------------------
// --------------------------------------------
//
// Post
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}post-wrapper {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}


.#{$prefix}post__container {
  position: relative;
  margin: 0 auto;
  padding: $space-two-half;
  width: 100%;
  max-width: $width-med;
  background-color: #fff;

  @include bp($bp-post-has-pad, max) {
    padding: $space-two-half $space-two;
  }
}



.#{$prefix}post__meta { }


.#{$prefix}post__headline {
  @include display;
  margin: 0;
  font-size: $size-one-three-fourths;
  line-height: 1.15;
  font-weight: bold;

  @include bp($bp-headline-sm) {
    font-size: $size-two-half;
    font-weight: normal;
  }
}



.#{$prefix}post__headline--sub {
  @include display($display-color-lt);
  margin-top: $space-half;
  font-size: $size-one-half;
  line-height: 1.25;
  // font-style: italic;
}




// Article text styles
// --------------------------------------------
.article-text,
.#{$prefix}article__text {
  @include text;
  position: relative;
  // margin-top: 45px;
  margin-top: $space-one-half;
  font-size: 1.15em;
  // line-height: 1.45;
  line-height: 1.475;

  @include bp($bp-sm) {
    // font-size: $size-two-half;
    margin-top: $space-two-half;
  }


  > p {
    margin-top: $space-one;
    margin-bottom: $space-one;
  }


  // styling code snips that apppear inside article paragraphs
  > p code {
    color: #008080;
    font-size: 0.75em;
  }


  > p a {
    @include link;
  }


  > h2 {
    @include display;
    margin-top: 2em;
    margin-bottom: 0.25em;
    font-size: 1.2em;
  }

  > h3 {
    @include display;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }


  > h4 {
    @include display;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  > h2 + p { margin-top: 0; }

  > blockquote {
    margin-left: $space-one;
    padding-left: $space-one;
    border-left: 4px solid rgba($text-color, 0.08);
    width: 95%;

    p { margin: 0; }
  }
}





// --------------------------------------------
// --------------------------------------------
//
// Disqus Overrides
//
// --------------------------------------------
// --------------------------------------------
#disqus_thread a {
  &:link { color: $accent-color; }
  &:hover { color: $accent-color; }
  &:active { color: $accent-color; }
  &:visited { color: $accent-color; }
}




.comments {
  margin: 0 auto 0;
  padding: 45px;
  width: 100%;
  max-width: $width-med;
  background-color: #fff;
}
