// --------------------------------------------
// --------------------------------------------
//
// Post
//
// --------------------------------------------
// --------------------------------------------

.post-wrapper {
  padding-left: 0;
  padding-right: 0;
}


.post-container {
  position: relative;
  margin: -25px auto 0;
  padding: 45px;
  width: 100%;
  max-width: $width-med;
  background-color: #fff;

  @include bp($bp-post-has-pad, max) {
    padding: 45px 25px;
  }
}


.comments {
  margin: 0 auto 0;
  padding: 45px;
  width: 100%;
  max-width: $width-med;
  background-color: #fff;
}


.post-meta {
  border-bottom: 1px solid #ededef;
}


.post-h {
  @include display;
  font-size: 40px;
  line-height: 1.1em;
  margin: 0;
}


.post-sub-h {
  @include display($display-color-lt);
  margin-top: 1em;
  font-size: 24px;
  line-height: 1.25;
  font-style: italic;
}


.article-text {
  position: relative;
  margin-top: 45px;
  @include text;
  font-size: 1.15em;
  line-height: 1.45;

  // styling code snips that apppear inside article paragraphs
  > p code {
    color: #008080;
    font-size: 0.75em;
  }

  > p a {
    // color: lighten($text-color, 15%);
    color: $accent-color;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }


  > h2 {
    margin-top: 2em;
    margin-bottom: 0.25em;
    @include display;
    font-size: 1.2em;
  }
  > h2 + p { margin-top: 0; }
}





// --------------------------------------------
// --------------------------------------------
//
// Disqus Overrides
//
// --------------------------------------------
// --------------------------------------------


#disqus_thread a {
  &:link { color: $accent-color; }
  &:hover { color: $accent-color; }
  &:active { color: $accent-color; }
  &:visited { color: $accent-color; }
}
