// --------------------------------------------
// --------------------------------------------
//
// Resume
//
// --------------------------------------------
// --------------------------------------------

$trans-font-size: font-size 0.2s ease;


.#{$prefix}resume__section {
  & + & { margin-top: 3rem; }
}

.#{$prefix}resume__section--sub {
  & + & { margin-top: 1.5rem; }

  > * + * { margin-top: 0.5rem; }
}



.#{$prefix}resume__headline__container {
  transition: margin 0.3s ease;
  margin-bottom: 16px;
  @include bp($bp-med) {
    margin-top: 32px;
    margin-left: -100px;
    margin-bottom: 32px;
  }
}


.#{$prefix}resume__headline {
  @include accent;
  margin: 0;
  font-weight: 200;
  font-size: 48px;
  line-height: 0.85;
  transition: $trans-font-size;

  @include bp($bp-sm) {
    font-size: 64px;
  }
}


.#{$prefix}resume__headline--sub {
  margin: 0;
  margin-top: 8px;
  font-size: 20px;
  line-height: 1;
  transition: $trans-font-size;
  font-weight: 200;

  @include bp($bp-sm) {
    font-size: 24px;
  }
}


.#{$prefix}resume__headline--section {
  font-family: $font-face-headline;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba($primary-text-color, 0.5);
}


.#{$prefix}resume__duties {
  margin: 0;
  margin-top: 0.5rem;
}


.#{$prefix}resume__duty {
  list-style: none;
  line-height: 1.45;

  &:before {
    position: relative;
    color: $bg-fallback;
    content: "■";
    font-size: 1em;
    padding-right: 8px;
    margin-left: -17px;
  }

  & + & { margin-top: 0.25rem; }
}



.#{$prefix}resume__company {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba($primary-text-color, 0.7);
}

.#{$prefix}resume__to {
  font-size: 0.75rem;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}


.#{$prefix}resume__date {
  margin-top: 4px;
}