// --------------------------------------------
// --------------------------------------------
//
// Type
//
// --------------------------------------------
// --------------------------------------------




// Overline
// --------------------------------------------
:root {
  // Overline
  --color-overline: #2c3b4b;
  --size-overline: 0.75rem;
  --border-color-overline: #198ece;

  // Headline
  --color-headline: #2c3b4b;

  // Text
  --color-text: #2c3b4b;
}


.theme--silver-fox {
  // Headline
  --color-headline: rgba(255, 255, 255, 0.8);

  // Text
  --color-text: #fff;
}



.overline, %overline {
  font-family: $font-face-overline;
  margin-bottom: 30px;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-overline);
  font-size: var(--size-overline);
  line-height: 1;
}

.overline--has-border, %overline--has-border {
  border-bottom: 1px solid var(--border-color-overline);
}




// Text
// --------------------------------------------
.text, %text {
  font-family: $font-face-text;
  color: var(--color-text);
  font-weight: 300;
}


// Headline
// --------------------------------------------
.headline, %headline {
  margin: 0;
  font-family: $font-face-headline;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-headline);
}

.headline--large, %headline--large {
  font-size: 3.75rem;
  line-height: 0.95;
}

.headline--medium, %headline--medium {
  font-size: 2.5rem;
  line-height: 0.95;
}

.headline--small, %headline--small {
  font-size: 1.5rem;
  line-height: 1.05;
}

.headline--article, %headline--article {
  font-size: 5rem;
  line-height: 1.05;
}




// Helpers
// --------------------------------------------
.u-inline-block {
  display: inline-block;
}

.u-text-align--center {
  text-align: center;
}
