// --------------------------------------------
// --------------------------------------------
//
// Universal
//
// --------------------------------------------
// --------------------------------------------
body {
  @include text;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(250, 250, 250, 1);
}


.content-wrapper {
  position: relative;

  @include bp($bp-sm) {
    padding: 10px;
    padding-bottom: 0;
  }

  @include bp($bp-med) {
    padding-bottom: 0;
  }
}


.content-inner {
  position: relative;
  overflow: hidden;
}


.bg-container {
  @include clearfix;
  padding-bottom: 100px;
}



.content-wrapper {
  .#{$prefix}homepage & {
    padding-top: 0;
  }
}





// --------------------------------------------
// --------------------------------------------
//
// Link
//
// --------------------------------------------
// --------------------------------------------

a {
  // @include link(currentColor);
}