// --------------------------------------------
// --------------------------------------------
//
// Universal
//
// --------------------------------------------
// --------------------------------------------

body {
  @include text;
  background-color: $bg-color;
}


.content-wrapper {
  position: relative;

  @include bp($bp-sm) {
    padding: 10px;
    padding-bottom: 0;
  }

  @include bp($bp-med) {
    padding: 25px;
    padding-bottom: 0;
  }
}


.content-inner {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
}


.bg-container {
  padding-bottom: 100px;
  background-image: linear-gradient(-90deg, #C4174E, #AD84F1);
  @include clearfix;
}
