// --------------------------------------------
// --------------------------------------------
//
// Variables
//
// --------------------------------------------
// --------------------------------------------


// Prefix
// --------------------------------------------
$prefix: 'gcs-';




// Type
// --------------------------------------------
$sans-fallback: Helvetica, sans-serif;
$serif-fallback: Georgia, serif;

// $type-main: 'omnes-pro', $sans-fallback;
// $type-accent: 'jubilat', $serif-fallback;
// $type-display: 'jubilat', Georgia, serif;
// $type-code: 'droid-sans-mono', monospace, sans-serif;

$type-main: 'nudista-web', $sans-fallback;
$type-accent: 'minion-pro', $serif-fallback;
$type-display: 'jubilat', Georgia, serif;
$type-code: 'droid-sans-mono', monospace, sans-serif;



// Font Face
$font-face-headline: 'tablet-gothic-condensed', $sans-fallback;
$font-face-overline: 'source-code-pro', monospace, sans-serif;

$font-face-text: 'nudista-web', $sans-fallback;



// Font weights
$text-weight: 300;
$text-bold: 600;
$code-wt:   400;
$accent-med:  500;
$accent-bold: 400;
$display-wt: 200;




// Type Sizes
// --------------------------------------------
$size-eighth:             0.125rem;    // 2px
$size-quarter:            0.25rem;     // 4px
$size-half:               0.5rem;      // 8px
$size-three-fourths:      0.75rem;     // 12px
$size-one:                1rem;        // 16px
$size-one-quarter:        1.25rem;     // 20px
$size-one-half:           1.5rem;      // 24px
$size-one-three-fourths:  1.75rem;     // 30px
$size-two:                2rem;        // 36px
$size-two-half:           2.5rem;      // 40px




// Icon-size-scale
// --------------------------------------------
// Variables
$icon-size-small:      $size-three-fourths;
$icon-size-medium:     $size-one;
$icon-size-large:      1.25rem;
$icon-size-xlarge:     $size-one-half;




// Spacing
// --------------------------------------------

// $top-margin: 25px;
$space-eighth:           0.125rem;    // 2px
$space-quarter:          0.25rem;     // 4px
$space-half:             0.5rem;      // 8px
$space-three-fourths:    0.75rem;     // 12px
$space-one:              1rem;        // 16px
$space-one-quarter:      1.25rem;     // 20px
$space-one-half:         1.5rem;      // 24px
$space-two:              2rem;        // 32px
$space-two-half:         2.5rem;      // 40px
$space-three:            3rem;        // 48px
$space-four:             4rem;




// Color
// --------------------------------------------

// Text
// $text-color:            #222222;
$text-color:            #2c3b4b;
$tease-text:            #444444;
$tease-text-lt:         #666666;

$display-color-lt:      #888888;

$primary-color-drk:     #455A64;
$primary-color:         #607D8B;
// $primary-color: red;
$primary-color-lt:      #CFD8DC;
$primary-color-text:    #FFFFFF;
// $accent-color:        #FF5252;
$accent-color:          #0288D1;
$primary-text-color:    #212121;
$secondary-text-color:  #727272;
$divider-color:         #B6B6B6;

$bg-color:              rgba(250, 250, 250, 1);
// $bg-fallback-small: rgb(253,29,133);




// Background
// --------------------------------------------

$bg-small: linear-gradient(153deg, rgba(253,29,133,0.9164040616246498) 5%, rgba(253,29,242,0.9051995798319328) 50%);

$bg: linear-gradient(45deg, #01466c, #03a9f4);

$bg-fallback: #12222D; // #01466c;


// $bg-fallback: #101A24;



// Breakpoints
// --------------------------------------------

// Widths
$width-xsm:           200px;
$width-sm:            480px;
$width-med:           720px;
$width-lg:            900px;

// General Breakpoints
$bp-sm:               600px;
$bp-med:              900px;

// Social Breakpoints
$bp-social:           800px;
$bp-social-lg:        $bp-med;

// Post Breakpoints
$bp-post-has-pad:     700px;

// Type Breakpoings
$bp-headline-sm:      600px;


$one-px:              1px;




// Footer Color
// --------------------------------------------
:root {
  --footer-link-bg:       rgba($bg-fallback, 0.3);
  --footer-link-border:   rgba($bg-fallback, 0.15);
  --footer-link-bg-hover: $bg-fallback;
  --footer-link-color:    rgba(255, 255, 255, 1);
  --footer-text-color:    rgba(0, 0, 0, 0.5);
}


.gcs-homepage {
  --footer-link-bg:       rgba(0, 0, 0, 0.1);
  --footer-link-border:   rgba(0, 0, 0, 0.125);
  --footer-link-bg-hover: $bg-fallback;
  --footer-link-color:    rgba(255, 255, 255, 0.8);
  --footer-text-color:    rgba(255, 255, 255, 0.5);
}



// Post Color
// --------------------------------------------
// post headline
// post subhead
// text
// p code


// Archive Color
// --------------------------------------------
// archive meta
// archive headline
// Archive link
// archive text
// archive text link


// Homepage Color
// --------------------------------------------



// Resume Color
// --------------------------------------------