// --------------------------------------------
// --------------------------------------------
//
// Variables
//
// --------------------------------------------
// --------------------------------------------



// Fonts
// --------------------------------------------

$sans-fallback: Helvetica, sans-serif;
$serif-fallback: Georgia, serif;

$type-main: 'omnes-pro', $sans-fallback;
$type-accent: 'jubilat', $serif-fallback;
$type-display: 'jubilat', Georgia, serif;

$text-weight: 300;

// $accent-lt:   200;
$accent-med:  500;
$accent-bold: 400;

$text-color: #222222;

$display-wt: 200;

$tease-text: #444444;
$tease-text-lt: #666666;

$display-color-lt: #888888;

@mixin text($color: $text-color, $font: $type-main, $font-weight: $text-weight ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}

@mixin accent($color: black, $font: $type-accent, $font-weight: $accent-bold ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}

@mixin display($color: black, $font: $type-display, $font-weight: $display-wt ) {
  font-family: $font;
  font-weight: $font-weight;
  color: $color;
}



// Spacing
// --------------------------------------------

$top-margin: 25px;



// Color
// --------------------------------------------

$primary-color-drk:   #455A64;
$primary-color:       #607D8B;
$primary-color-lt:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:        #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:       #B6B6B6;


$bg-color:    lighten($primary-color-lt, 10%);

$bg-fallback: #B9448B;



// Breakpoints
// --------------------------------------------

$width-xsm: 200px;
$width-sm: 480px;
$width-med: 720px;
$width-lg: 900px;

$bp-sm: 600px;
$bp-med: 900px;

$bp-social: 800px;
$bp-social-lg: $bp-med;
