// --------------------------------------------
// --------------------------------------------
//
// Work
//
// --------------------------------------------
// --------------------------------------------
.#{$prefix}work__item {
  @include clearfix;

  & + & { margin-top: $space-four; }

  @include bp($bp-sm) {  }
}


.#{$prefix}work__h {
  margin: 0 0 $space-half;
  font-weight: $text-weight;
  font-size: $size-one-three-fourths;
  line-height: 1.15;
}


.#{$prefix}work__content {
  font-family: $type-main;
  color: rgba(0, 0, 0, 0.85);
}


.#{$prefix}work__link {
  text-decoration: none;
  color: black;
}


.#{$prefix}work__link--highlight {
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.5em 0.8em;
  padding-bottom: 0.65em;
  border: 1px solid rgba($bg-fallback, 0.5);
  font-size: 0.85em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: $bg-fallback;
    color: black;
  }
}


.#{$prefix}work__text {
  margin: 0 0 $space-three-fourths;
  font-size: $size-one;
  line-height: 1.475;
  font-weight: 400;
}


.#{$prefix}work__link--img {
  margin-left: $space-two;

  @include bp($bp-sm) {
    float: right;
  }
}


.#{$prefix}work__img-container {
  width: 250px;
}