{% include head.html %}

  <body class="{% if page.pageclass %}{{page.pageclass}}{% endif %}">

    <!-- SVG -->
    <!-- ===================================== -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
      {% include svg.svg %}
    </div>


    <!-- Header -->
    <!-- ===================================== -->
    {% include new-page-header.html %}


    <div class="content__wrapper">

      <!-- Content -->
      <!-- ===================================== -->
        <section id="content" role="main" class="page__case-study">
          <div class="gcs-page__content">
            {{ content }}
          </div> <!-- /page-content -->
        </section> <!-- /post-container -->

    </div> <!-- /content__wrapper -->


    <!-- Footer -->
    <!-- ===================================== -->
    {% include footer.html %}


  </body>
