{% include head.html %}

  <body class="{{page.pageClass}}">

    <!-- SVG -->
    <!-- ===================================== -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
       {% include svg.svg %}
     </div>


    <!-- Content -->
    <!-- ===================================== -->
    <section id="content" role="main" class="content__wrapper">
      {{ content }}
    </section> <!-- /content content-wrapper -->

    <!-- Footer -->
    <!-- ===================================== -->
    {% include footer.html %}

  </body>
