{% include head.html %}

  <body class="{% if page.pageclass %}{{page.pageclass}}{% endif %}">

    <!-- SVG -->
    <!-- ===================================== -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
       {% include svg.svg %}
     </div>



    <div class="content-wrapper post-wrapper">


      <!-- Headers -->
      <!-- ===================================== -->

      <header>
        <div class="bg-backsplash">
            <div class="grant-img-container--post">
                <a href="/">
                    <img class="grant-img" src="/static/img/grant_splash_bw.jpg">
                </a>
            </div> <!-- /grant-img-container -->
            <h1 class="page-h">{{ page.pagehead }}</h1>
        </div> <!-- /bg-container -->
      </header>


      <!-- Content -->
      <!-- ===================================== -->

        <section id="content" role="main" class="post-container">



          <div class="page-content">
            {{ content }}
          </div> <!-- /page-content -->



        </section> <!-- /content content-wrapper -->

      </article>








    </div> <!-- /content-wrapper -->




    <!-- Footer -->
    <!-- ===================================== -->

    {% include footer.html %}




  </body>
