{% include head.html %}

  <body class="{% if page.pageclass %}{{page.pageclass}}{% endif %}">

    <!-- SVG -->
    <!-- ===================================== -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
     {% include svg.svg %}
    </div>


    <div class="gcs-content__wrapper gcs-post__wrapper">

      <!-- Header -->
      <!-- ===================================== -->
      {% include new-page-header.html  pageTitle=true %}

      <!-- Content -->
      <!-- ===================================== -->
        <section id="content" role="main" class="gcs-post__container">
          <div class="page-content fade-in">
            {{ content }}
          </div> <!-- /page-content -->
        </section> <!-- /post-container -->

    </div> <!-- /content-wrapper -->


    <!-- Footer -->
    <!-- ===================================== -->
    {% include footer.html %}

  </body>
