{% include head.html %}

  <body class="gcs-page--post">
    <!-- SVG -->
    <!-- ===================================== -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
       {% include svg.svg %}
     </div>

    <!-- Header -->
    <!-- ===================================== -->
    {% include new-page-header.html %}



    <div class="gcs-content__wrapper gcs-post__wrapper">

      <!-- Content -->
      <!-- ===================================== -->
      <article>
        <section id="content" role="main" class="gcs-post__container">

          <div class="gcs-post__meta">
            <h1 class="gcs-post__headline fade-in">{{ page.title }}</h1>
            {% if page.subhead %}
              <h3 class="gcs-post__headline--sub fade-in"> {{ page.subhead }}</h3>
            {% endif %}
          </div> <!-- /post-meta -->

          <div class="gcs-article__text fade-in">
            {{ content }}
            <!-- Social Tools -->
            <!-- ===================================== -->
            {% include social.html %}
          </div> <!-- /article-text -->

        </section> <!-- /content content-wrapper -->
      </article>

    </div> <!-- /content-wrapper -->


    <!-- Footer -->
    <!-- ===================================== -->
    {% include footer.html %}



    <!-- Page Scripts -->
    <!-- ===================================== -->
    <script src="/static/vendor/QuickShare/dist/quickshare.js"></script>


    <script>quickShare();</script>



    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'grantstaublin'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>



  </body>
