{% include head.html %}

  <body>
    <!-- SVG -->
    <!-- ===================================== -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
       {% include svg.svg %}
     </div>

    <div class="content-wrapper post-wrapper">


      <!-- Header -->
      <!-- ===================================== -->
      {% include page-header.html %}


      <!-- Content -->
      <!-- ===================================== -->
      <article>

        <section id="content" role="main" class="post-container">

          <div class="post-meta">
            <h1 class="post-h fade-in">{{ page.title }}</h1>
            {% if page.subhead %}
              <h3 class="post-sub-h fade-in"> {{ page.subhead }}</h3>
            {% endif %}
          </div> <!-- /post-meta -->


          <div class="article-text fade-in">
            {{ content }}

            <!-- Social Tools -->
            <!-- ===================================== -->
            {% include social.html %}

          </div> <!-- /article-text -->


        </section> <!-- /content content-wrapper -->

      </article>








    </div> <!-- /content-wrapper -->


    <!-- Comments -->
    <!-- ===================================== -->
    <!-- {% include disqus.html %} -->




    <!-- Footer -->
    <!-- ===================================== -->

    {% include footer.html %}



    <!-- Page Scripts -->
    <!-- ===================================== -->
    <script src="/static/vendor/QuickShare/dist/quickshare.js"></script>


    <script>quickShare();</script>



    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'grantstaublin'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>



  </body>
