---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
const isProd = import.meta.env.PROD;


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="astro-test/favicon.svg" /> -->
    <link rel="icon" type="image/svg+xml" href="src/assets/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WEEEEL0P81"
    ></script>
  </head>
  <body>
    <Header />
    <main class="hp-width">
      <slot />
    </main>
    <Footer />

    <!-- Google tag (gtag.js) -->

  {   isProd && (
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-WEEEEL0P81");
    </script>
  )
}

  </body>
</html>
