---
import BaseLayout from "./BaseLayout.astro";
const { pageTitle } = Astro.props;
const { noFollow } = Astro.props;

const mainClass = "width--full";
---

<BaseLayout mainClass={mainClass} pageTitle={pageTitle} noFollow>
  <div class="portfolioPage__container">
    <slot />
  </div>
</BaseLayout>
