---
import BaseLayout from "./BaseLayout.astro";
const { pageTitle, ...attrs } = Astro.props;
const { noFollow } = Astro.props;

const mainClass = "width--full";
---

<BaseLayout mainClass={mainClass} pageTitle={pageTitle} noFollow>
  <div class:list={["portfolioPage__container", attrs.class]}>
    <slot />
  </div>
</BaseLayout>
